Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add diff-aware harness planner
  docs/harness/README.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/verification-matrix.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/harness-plan.mjs
  scripts/harness-plan.test.mjs
  scripts/harness-score.mjs
  scripts/harness-score.test.mjs
Due: none

Use broad-first support wording
  ROADMAP.md
  config/config.example.json
  docs/ROADMAP.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Add feature privacy label manifest
  docs/architecture/privacy-first-ai-gateway.md
  docs/harness/README.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/feature-privacy-labels.json
  docs/harness/manifest.json
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-harness-policy.test.mjs
  scripts/check-harness.mjs
Due: none

Add E2E runtime budget checks
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/verification-matrix.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/e2e-budget.mjs
  scripts/e2e-budget.test.mjs
  tests/e2e/README.md
Due: none

Require Rule 0 PR evidence
  .github/PULL_REQUEST_TEMPLATE.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/manifest.json
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-harness-policy.test.mjs
Due: none

Use plain market refresh copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/components/LocationHeatmap.test.tsx
  src/components/LocationHeatmap.tsx
  src/components/MarketSnapshotCard.test.tsx
  src/components/MarketSnapshotCard.tsx
  src/pages/Market.tsx
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/page-objects/MarketIntelligencePage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record latest CI checkpoint
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Use plain dashboard download copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/components/AnalyticsPanel.tsx
  src/pages/DashboardUI/DashboardFiltersBar.test.tsx
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/DashboardUI/QuickActions.test.tsx
  src/pages/DashboardUI/QuickActions.tsx
  src/pages/hooks/useDashboardJobOps.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain feedback support labels
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/components/feedback/CategorySelector.test.tsx
  src/components/feedback/CategorySelector.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain safe support report copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src-tauri/src/commands/feedback/debug_log.rs
  src-tauri/src/commands/feedback/report.rs
  src/components/feedback/DebugInfoPreview.test.tsx
  src/components/feedback/DebugInfoPreview.tsx
  src/components/feedback/DescriptionInput.test.tsx
  src/components/feedback/DescriptionInput.tsx
  src/components/feedback/FeedbackModal.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain notification settings copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/NotificationPreferences.test.tsx
  src/components/NotificationPreferences.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain source status labels
  docs/README.md
  docs/features/scraper-health.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/releases/v2.1.md
  scripts/check-source-boundaries.test.mjs
  scripts/harness/checks/source-boundaries.mjs
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain support helper copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/feedback/DebugInfoPreview.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use no-response application labels
  docs/features/application-tracking.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/AnalyticsPanel.test.tsx
  src/components/AnalyticsPanel.tsx
  src/components/DashboardWidgets.test.tsx
  src/components/DashboardWidgets.tsx
  src/pages/Applications.tsx
  tests/e2e/playwright/application-tracking.spec.ts
  tests/e2e/playwright/page-objects/ApplicationsPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize toast support details
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-privacy-logging.test.mjs
  scripts/harness/checks/privacy-logging.mjs
  src/utils/api.test.ts
  src/utils/api.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use safe support report wording
  README.md
  ROADMAP.md
  docs/README.md
  docs/features/credentials-security.md
  docs/harness/README.md
  docs/harness/change-contract.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/verification-matrix.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use safe support report UI labels
  README.md
  docs/README.md
  docs/features/user-data-management.md
  docs/harness/readme-information-design.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/user/QUICK_START.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
  src/components/ModalErrorBoundary.test.tsx
  src/components/ModalErrorBoundary.tsx
  src/components/feedback/SubmitOptions.test.tsx
  src/components/feedback/SubmitOptions.tsx
  src/components/feedback/SuccessScreen.test.tsx
  src/components/feedback/SuccessScreen.tsx
  src/hooks/useFeedback.ts
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain browser import source wording
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use clearer settings tab wording
  docs/features/smart-scoring.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify source health controls
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain resume suggestion labels
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify remaining zero-tech UX copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/releases/v1.2.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/DashboardUI/DashboardFiltersBar.test.tsx
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/DashboardUI/QuickActions.test.tsx
  src/pages/Resume.test.tsx
  src/pages/Resume.tsx
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
  tests/e2e/playwright/page-objects/ResumePage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain backend error copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src-tauri/src/commands/errors.rs
Due: none

Minimize frontend invoke errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-privacy-logging.test.mjs
  scripts/harness/checks/privacy-logging.mjs
  src/utils/api.test.ts
  src/utils/api.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Move resume file import to backend
  README.md
  docs/ROADMAP.md
  docs/features/json-resume-import.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  scripts/check-repo-bloat.mjs
  scripts/check-source-quality.test.mjs
  scripts/harness/checks/source-quality.mjs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/resume.rs
  src-tauri/src/main.rs
  src/mocks/handlers.ts
  src/pages/Resume.test.tsx
  src/pages/Resume.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix harness session json mode
  docs/harness/README.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/harness-session.mjs
  scripts/harness-session.test.mjs
Due: none

Remove normal E2E networkidle waits
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/docs-drift.mjs
  tests/e2e/playwright/job-interactions.spec.ts
Due: eslint --fix

Harden external URL fetch boundaries
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/config/validation_tests.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/url_security.rs
Due: none

Validate bookmarklet job imports
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/bookmarklet/mod.rs
  src-tauri/src/core/bookmarklet/server.rs
Due: none

Share scraper rate limits across runs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/scrapers/builtin.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/greenhouse.rs
  src-tauri/src/core/scrapers/hn_hiring.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/lever/mod.rs
  src-tauri/src/core/scrapers/rate_limiter.rs
  src-tauri/src/core/scrapers/remoteok.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/src/core/scrapers/weworkremotely.rs
  src-tauri/src/core/scrapers/yc_startup.rs
Due: none

Remove bookmarklet wildcard CORS
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/core/bookmarklet/server.rs
Due: none

Move chat alerts out of onboarding
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Expire browser import safety codes
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/core/bookmarklet/server.rs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify zero-tech user docs
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/user/DEEP_LINKS.md
  docs/user/QUICK_START.md
Due: none

Keep browser import copy failure safe
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/core/bookmarklet/server.rs
Due: none

Report browser import port conflicts
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/bookmarklet/server.rs
Due: none

Update Rust advisory watch
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
Due: none

Improve zero-tech settings guardrails
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/security/KEYRING.md
  docs/user/QUICK_START.md
  src/components/CompanyResearchPanel.tsx
  src/components/CoverLetterTemplates.test.tsx
  src/components/CoverLetterTemplates.tsx
  src/components/NotificationPreferences.test.tsx
  src/components/NotificationPreferences.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/utils/errorMessages.ts
  src/utils/profiles.test.ts
  src/utils/profiles.ts
  tests/e2e/playwright/page-objects/SettingsPage.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Index release and Linux docs
  docs/README.md
  docs/developer/LINUX_BUILD.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/releases/README.md
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
