Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

docs: clean scraper health markers
  docs/features/scraper-health.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: correct application tracking status
  docs/features/application-tracking.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: correct smart scoring salary marker
  docs/features/smart-scoring.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: apply score color classes directly
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-frontend-boundaries.mjs
  scripts/check-frontend-boundaries.test.mjs
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize score breakdown input
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: clean feature status markers
  docs/features/ghost-detection.md
  docs/features/resume-builder.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: update linux platform wording
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/platforms/linux/mod.rs
Due: none

docs: clean market intelligence markers
  docs/features/market-intelligence.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: validate market history range
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-tauri-invokes.mjs
  scripts/check-tauri-invokes.test.mjs
  src-tauri/src/commands/market.rs
Due: none

fix: validate command limits
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-tauri-invokes.mjs
  scripts/check-tauri-invokes.test.mjs
  src-tauri/src/commands/automation.rs
  src-tauri/src/commands/ghost.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/jobs.rs
  src-tauri/src/commands/limits.rs
  src-tauri/src/commands/market.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/resume.rs
  src-tauri/src/commands/user_data.rs
Due: none

fix: validate ghost threshold
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src-tauri/src/commands/ghost.rs
Due: none

fix: redact private query logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/automation.rs
  src-tauri/src/commands/jobs.rs
  src-tauri/src/core/db/queries.rs
Due: none

fix: sanitize scraper logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/cache.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/greenhouse.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/lever/mod.rs
  src-tauri/src/core/scrapers/simplyhired.rs
Due: none

fix: sanitize local path logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/ml.rs
  src-tauri/src/commands/resume.rs
  src-tauri/src/core/automation/browser/page.rs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/db/connection.rs
  src-tauri/src/core/db/integrity/backups.rs
  src-tauri/src/core/logging.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/platforms/linux/mod.rs
  src-tauri/src/platforms/macos/mod.rs
  src-tauri/src/platforms/windows/mod.rs
Due: none

fix: sanitize remaining url logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/automation/browser/manager.rs
  src-tauri/src/core/scrapers/url_utils.rs
Due: none

fix: sanitize linkedin scraper span
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/linkedin.rs
Due: none

fix: sanitize job import logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/import.rs
Due: none

fix: sanitize screening question logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/automation/form_filler.rs
Due: none

fix: sanitize linkedin auth navigation logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/linkedin_auth.rs
Due: none

fix: sanitize notification success logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/notify/mod.rs
Due: none

fix: sanitize jobswithgpt request logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/jobswithgpt.rs
Due: none

fix: sanitize scraper error display
  docs/developer/ERROR_HANDLING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src-tauri/src/core/scrapers/error.rs
Due: none

fix: sanitize automation error display
  docs/developer/ERROR_HANDLING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/automation/error.rs
Due: none

fix: sanitize database error display
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/db/error.rs
Due: none

fix: sanitize import redirect errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/import.rs
  src-tauri/src/core/import/types.rs
Due: none

fix: harden bookmarklet error responses
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/bookmarklet/server.rs
Due: none

fix: require bookmarklet import token
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/bookmarklet/server.rs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: prune stale storybook config
  .storybook/main.ts
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: eslint --fix

fix: sanitize frontend error reports
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate notification webhook settings
  docs/developer/ARCHITECTURE.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/utils/formValidation.test.ts
  src/utils/formValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: redact provider webhook urls
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/feedback/sanitizer.rs
Due: none

fix: sanitize structured feedback events
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/feedback/debug_log.rs
Due: none

fix: redact frontend webhook errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize saved feedback reports
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/feedback/mod.rs
Due: none

fix: sanitize user data logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/user_data.rs
  src-tauri/src/core/user_data/mod.rs
Due: none

fix: pass search history limit
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-tauri-invokes.mjs
  scripts/check-tauri-invokes.test.mjs
  src/pages/hooks/useDashboardSearch.test.ts
  src/pages/hooks/useDashboardSearch.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: align saved search ipc
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-tauri-invokes.mjs
  scripts/check-tauri-invokes.test.mjs
  src/pages/hooks/useDashboardSavedSearches.test.ts
  src/pages/hooks/useDashboardSavedSearches.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync saved search mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync cover letter mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: align notification preferences
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/NotificationPreferences.test.tsx
  src/components/NotificationPreferences.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/utils/notificationPreferences.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix
