Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

chore: clean up root directory and update CHANGELOG
  .gitignore
  CHANGELOG.md
  DEEP_LINKS_IMPLEMENTATION.md
  IMPLEMENTATION_PLAN.md
  JSON_RESUME_IMPLEMENTATION.md
  SMART_SCREENING_ANSWERS_IMPLEMENTATION.md
Due: none

Fix production bugs, test failures, and stale documentation across codebase (#201)
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/CLAUDE.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/GETTING_STARTED.md
  src-tauri/src/core/automation/answer_learning.rs
  src/components/FocusTrap.test.tsx
  src/contexts/UndoIntegration.test.tsx
  tests/README.md
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix broken build: add SQLX_OFFLINE config and fix 404 README links (#203)
  README.md
  src-tauri/.cargo/config.toml
Due: none

Pin GitHub Actions to SHA digests, fix macOS Tahoe version, update CI baselines (#204)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/scraper_issue.md
  .github/ISSUE_TEMPLATE/scraper_issue.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/developer/LINUX_BUILD.md
Due: none

fix: resolve usability friction from issue #202
  README.md
  docs/developer/GETTING_STARTED.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/feedback/sanitizer.rs
  src-tauri/src/commands/import.rs
  src-tauri/src/core/ats/tests.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/import/schema_org.rs
  src-tauri/tests/database_integration_test.rs
Due: none

chore(security): update deny.toml, add CI security job, expand Dependabot coverage (#226)
  .github/dependabot.yml
  .github/workflows/ci.yml
  src-tauri/deny.toml
Due: none

Fix broken CI workflows and eliminate wasteful runner spend (#246)
  .github/workflows/build-linux.yml
  .github/workflows/ci.yml
Due: none

fix(ci): apply cargo fmt to 2 files missed by PR #247
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/core/db/tests.rs
Due: none

chore(deps): coordinated objc2 ecosystem upgrade (0.5→0.6 / 0.2→0.3)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/linkedin_auth.rs
Due: none

fix(tests): resolve e2e networkidle timeout and flaky notes paste test
  src/components/automation/ScreeningAnswersForm.test.tsx
  tests/e2e/playwright/app.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix(e2e): wait for React mount instead of load state
  tests/e2e/playwright/app.spec.ts
Due: eslint --fix

chore(ci): remove e2e job from CI pipeline
  .github/workflows/ci.yml
Due: none

chore(ci): drop build-check job from PR pipeline
  .github/workflows/ci.yml
Due: none

fix(tests): replace user.paste() with user.type() for jsdom 29 compat
  src/components/automation/ScreeningAnswersForm.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix(scrapers): update Chrome UA and disable dead JobsWithGPT endpoint
  src-tauri/src/core/config/defaults.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/main.rs
Due: none

fix: enable FK enforcement in test in-memory SQLite databases
  src-tauri/src/core/db/connection.rs
Due: none

fix(scraper): rewrite YC startup scraper for Inertia.js page structure
  src-tauri/src/core/scrapers/yc_startup.rs
Due: none

fix: sweep remaining Chrome/120 UA strings and drop .eslintignore
  .eslintignore
  eslint.config.js
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/yc_startup.rs
Due: none

fix(db+config): pre-migration backup and jobswithgpt validation fix
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/db/connection.rs
  src-tauri/src/core/scrapers/linkedin.rs
Due: none

fix(tests): update jobswithgpt_endpoint validation test for optional endpoint
  src-tauri/src/core/config/validation_tests.rs
Due: none

feat(health): wire up scraper run tracking and surface zero-result warnings
  src-tauri/migrations/00000000000000_initial_schema.sql
  src-tauri/migrations/00000000000003_add_missing_scraper_configs.sql
  src-tauri/src/core/scheduler/pipeline.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src/components/ScraperHealthDashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: update local Claude settings
  .claude/settings.local.json
Due: none

docs: update README for v2.6.3 accuracy
  README.md
Due: none

docs: audit and fix all documentation for v2.6.3 accuracy
  CLAUDE.md
  README.md
  docs/CLAUDE.md
  docs/developer/ARCHITECTURE.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/TESTING.md
  docs/features/scrapers.md
Due: none

fix: resolve Settings infinite loading and bulk operation failures (#197)
  CHANGELOG.md
  docs/developer/ARCHITECTURE.md
  docs/developer/CONTRIBUTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/TESTING.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/components/automation/ScreeningAnswersForm.test.tsx
  src/components/settings/CredentialInput.test.tsx
  src/components/settings/SecureCredentialInput.test.tsx
  src/pages/Dashboard.test.tsx
  src/pages/Dashboard.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/pages/hooks/useDashboardAutoRefresh.ts
  src/pages/hooks/useDashboardFilters.test.ts
  src/pages/hooks/useDashboardFilters.ts
  src/pages/hooks/useDashboardJobOps.test.ts
  src/pages/hooks/useDashboardJobOps.ts
  src/utils/export.test.ts
  src/utils/export.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: resolve strict TS errors in Promise.allSettled index access
  src/pages/Settings.tsx
  src/pages/hooks/useDashboardJobOps.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix(ci): correct Windows MSI upload path in release workflow
  .github/workflows/release.yml
Due: none

fix(ci): use consistent matrix.target paths and update Cargo.lock for v2.6.4
  .github/workflows/release.yml
  src-tauri/Cargo.lock
  src-tauri/icons/logo.png
Due: none

Docs update
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/CLAUDE.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/FRONTEND_TESTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/INTEGRATION_TESTING.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/RELEASING.md
  docs/developer/TESTING.md
  docs/developer/UNDO_REDO_IMPLEMENTATION.md
  docs/developer/WHY_TAURI.md
  docs/developer/sqlite-configuration.md
  docs/features/application-tracking.md
  docs/features/credentials-security.md
  docs/features/ghost-detection.md
  docs/features/market-intelligence.md
  docs/features/notifications.md
  docs/features/one-click-apply.md
  docs/features/remote-preference-scoring.md
  docs/features/resume-builder.md
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/features/smart-scoring.md
  docs/features/synonym-matching.md
  docs/features/user-data-management.md
  docs/security/COMMAND_EXECUTION.md
  docs/security/KEYRING.md
  docs/security/README.md
  docs/security/URL_VALIDATION.md
  docs/security/WEBHOOK_SECURITY.md
  docs/security/XSS_PREVENTION.md
  docs/user/QUICK_START.md
Due: none

security: fix 7 audit findings with TDD approach
  docs/reports/scan-results-2026-03-19.txt
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/db/integrity/backups.rs
  src-tauri/src/core/db/query_cache.rs
  src-tauri/src/core/ml/model.rs
  src-tauri/src/platforms/windows/mod.rs
Due: none

security(memory): add SAFETY docs and deny(unsafe_code) at crate root
  src-tauri/src/lib.rs
  src-tauri/src/platforms/windows/mod.rs
Due: none

security(input): add deep link URL scheme validation
  security_audit.md
  src-tauri/src/commands/deeplinks.rs
Due: none

docs: add v2.6.4 security audit report
  SECURITY_AUDIT.md
  docs/reports/SECURITY_AUDIT_2026-03-19.md
  docs/security/README.md
  security_audit.md
Due: none

docs: remove audit report pending issue resolution
  docs/reports/SECURITY_AUDIT_2026-03-19.md
Due: none

Add scoped GovernmentJobs tracker support
  AGENTS.md
  docs/user/DEEP_LINKS.md
  src-tauri/src/commands/deeplinks.rs
  src-tauri/src/core/deeplinks/generator.rs
  src-tauri/src/core/deeplinks/mod.rs
  src-tauri/src/core/deeplinks/sites.rs
  src-tauri/src/core/deeplinks/types.rs
  src/components/DeepLinkGenerator.tsx
  src/types/deeplinks.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix
