Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Lock privacy-first AI boundaries
  PRIVACY.md
  README.md
  RESPONSIBLE_AI.md
  docs/architecture/privacy-first-ai-gateway.md
  docs/harness/README.md
  docs/harness/sources.md
  docs/harness/verification-matrix.md
  docs/research/README.md
  scripts/check-harness.mjs
  src/services/aiGateway.test.ts
  src/services/aiGateway.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Stabilize Playwright smoke refs
  README.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-harness.mjs
  tests/e2e/playwright/job-search-filtering.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
Due: eslint --fix

Show posting-risk guidance on job cards
  docs/features/ghost-detection.md
  docs/plans/active/research-backed-product-improvements.md
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Show missing pay on job cards
  docs/features/salary-ai.md
  docs/plans/active/research-backed-product-improvements.md
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten protective onboarding copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/config/tourSteps.test.ts
  src/config/tourSteps.ts
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Rework README as research project
  PRIVACY.md
  README.md
  RESPONSIBLE_AI.md
  docs/architecture/privacy-first-ai-gateway.md
  docs/harness/README.md
  docs/harness/change-contract.md
  docs/images/logo.png
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-harness.mjs
Due: none

Simplify quick start for job seekers
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/user/QUICK_START.md
Due: none

Simplify feedback submission copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/components/feedback/FeedbackModal.tsx
  src/components/feedback/SubmitOptions.test.tsx
  src/components/feedback/SubmitOptions.tsx
  src/components/feedback/SuccessScreen.test.tsx
  src/components/feedback/SuccessScreen.tsx
  src/hooks/useFeedback.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Lock free forever project ethos
  README.md
  docs/developer/CONTRIBUTING.md
  docs/harness/README.md
  docs/user/QUICK_START.md
Due: none

Make debug report preview readable
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/feedback/DebugInfoPreview.test.tsx
  src/components/feedback/DebugInfoPreview.tsx
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Guard free forever wording
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

Broaden feature doc examples
  docs/features/application-tracking.md
  docs/features/json-resume-import.md
  docs/features/market-intelligence.md
  docs/features/remote-preference-scoring.md
  docs/features/resume-matcher.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/features/smart-scoring.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
Due: none

Simplify problem-history details
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize recovery screen errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/components/PageErrorBoundary.test.tsx
  src/components/PageErrorBoundary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Broaden saved-search examples
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/CoverLetterTemplates.tsx
  src/pages/Dashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify Telegram notification setup
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Make score copy protective
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/research-backed-product-improvements.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
  src/components/ScoreDisplay.test.tsx
  src/components/ScoreDisplay.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Redesign README information architecture
  README.md
  docs/harness/README.md
  docs/harness/readme-information-design.md
Due: none

Remove dead Stack Overflow jobs link
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/user/DEEP_LINKS.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/errors.rs
  src-tauri/src/core/deeplinks/generator.rs
  src-tauri/src/core/deeplinks/mod.rs
  src-tauri/src/core/deeplinks/sites.rs
  src-tauri/src/core/deeplinks/types.rs
  src-tauri/tests/database_integration_test.rs
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/types/deeplinks.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Validate webhook credentials before storage
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/credentials.rs
  src-tauri/src/core/credentials/mod.rs
Due: none

Use Tailwind Vite plugin
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  package-lock.json
  package.json
  postcss.config.js
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  vite.config.ts
Due: eslint --fix

Clean Playwright test output
  docs/developer/FRONTEND_TESTING.md
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  package.json
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/run-playwright.mjs
  scripts/run-playwright.test.mjs
Due: none

Redesign README and lock source boundaries
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/developer/GETTING_STARTED.md
  docs/features/credentials-security.md
  docs/features/json-resume-import.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/releases/v2.0.md
  docs/releases/v2.1.md
  docs/releases/v2.5.3.md
  docs/security/KEYRING.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/credentials.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/config/validation_error.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/health/credential_health.rs
  src-tauri/src/core/health/mod.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/health/tests.rs
  src-tauri/src/core/health/tracking.rs
  src-tauri/src/core/health/types.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src-tauri/src/main.rs
  src/components/ScraperHealthDashboard.test.tsx
  src/mocks/handlers.ts
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add setup pay floor intake
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/research-backed-product-improvements.md
  docs/user/QUICK_START.md
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Warn on jobs below salary floor
  docs/features/salary-ai.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/research-backed-product-improvements.md
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/pages/Dashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clean dashboard source boundary copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Dashboard.test.tsx
  src/pages/Dashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Disable LinkedIn notification source
  docs/developer/WHY_TAURI.md
  docs/features/application-tracking.md
  docs/features/notifications.md
  docs/features/resume-matcher.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/releases/v2.1.md
  docs/style-guide/WRITING-FOR-JOB-SEEKERS.md
  docs/user/QUICK_START.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/user_data/mod.rs
  src/components/NotificationPreferences.test.tsx
  src/components/NotificationPreferences.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/pages/Dashboard.test.tsx
  src/utils/notificationPreferences.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify posting risk settings copy
  docs/plans/active/guided-job-search-intake.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify notification match strength copy
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/NotificationPreferences.test.tsx
  src/components/NotificationPreferences.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify user data help copy
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

Sanitize friendly error details
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize template and component errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/ComponentErrorBoundary.test.tsx
  src/components/ComponentErrorBoundary.tsx
  src/components/CoverLetterTemplates.test.tsx
  src/components/CoverLetterTemplates.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize import and resume errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/JobImportModal.test.tsx
  src/components/JobImportModal.tsx
  src/components/ModalErrorBoundary.test.tsx
  src/components/ModalErrorBoundary.tsx
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize remaining UI error surfaces
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AsyncButton.test.tsx
  src/components/AsyncButton.tsx
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
  src/components/automation/ApplyButton.test.tsx
  src/components/automation/ApplyButton.tsx
  src/pages/Salary.test.tsx
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize dashboard and market errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Dashboard.test.tsx
  src/pages/Dashboard.tsx
  src/pages/Market.test.tsx
  src/pages/Market.tsx
  src/pages/dashboardErrorCopy.ts
  src/pages/marketErrorCopy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize enhanced UI error copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/InterviewScheduler.test.tsx
  src/components/InterviewScheduler.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/hooks/useDashboardJobOps.ts
  src/pages/hooks/useDashboardSavedSearches.ts
  src/utils/safeErrorCopy.test.ts
  src/utils/safeErrorCopy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Hide raw problem history details
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Simplify notification setup copy
  README.md
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/user/QUICK_START.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Broaden company research copy
  docs/features/smart-scoring.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/user/QUICK_START.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/CompanyResearchPanel.test.tsx
  src/components/CompanyResearchPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Make score guidance protective
  docs/features/smart-scoring.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
