Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Extract docs drift bloat checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/docs-drift.mjs
Due: none

Simplify settings backup copy
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Extract technical copy bloat checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Extract privacy logging bloat checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract sensitive exposure bloat checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract credential privacy bloat checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract notification privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract URL import privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract automation privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract frontend error privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract command privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract scheduler privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract feedback privacy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Extract feedback copy checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Extract broad audience fixture checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
Due: none

Extract developer docs drift checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/docs-drift.mjs
Due: none

Extract feature docs drift checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/docs-drift.mjs
Due: none

Extract source boundary checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-source-boundaries.test.mjs
  scripts/harness/checks/source-boundaries.mjs
Due: none

Extract frontend contract checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-frontend-contracts.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/frontend-contracts.mjs
Due: none

Extract source quality checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-source-quality.test.mjs
  scripts/harness/checks/source-quality.mjs
Due: none

Extract security doc checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-security-docs.test.mjs
  scripts/harness/checks/security-docs.mjs
Due: none

Extract repo integrity checks
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-integrity.test.mjs
  scripts/harness/checks/repo-integrity.mjs
Due: none

Add harness session snapshot
  docs/harness/README.md
  docs/harness/five-tuple-audit-2026-06-01.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/harness-session.mjs
  scripts/harness-session.test.mjs
Due: none

Broaden application profile fixtures
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/automation/profile.rs
  src/mocks/data.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Remove fixed wait from keyboard E2E
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/docs-drift.mjs
  tests/e2e/playwright/keyboard-navigation.spec.ts
Due: eslint --fix

Add executable five-tuple harness score
  .nvmrc
  AGENTS.md
  README.md
  docs/developer/GETTING_STARTED.md
  docs/harness/README.md
  docs/harness/five-tuple-audit-2026-06-01.md
  docs/harness/five-tuple-scorecard-2026-06-01.md
  docs/harness/manifest.json
  docs/harness/sources.md
  docs/harness/walkinglabs-harness-creator-skill-evaluation.md
  docs/harness/walkinglabs-lecture-02-evaluation.md
  docs/plans/README.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/index.json
  package.json
  rust-toolchain.toml
  scripts/check-harness.mjs
  scripts/check-repo-artifacts.test.mjs
  scripts/doctor.mjs
  scripts/doctor.test.mjs
  scripts/harness-score.mjs
  scripts/harness-score.test.mjs
  scripts/harness-session.mjs
  scripts/harness-session.test.mjs
  scripts/harness/checks/repo-artifacts.mjs
Due: none

Extract docs drift bloat rules
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/docs-drift.mjs
Due: none

Broaden scoring fixture examples
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
  src-tauri/src/core/scoring/mod.rs
  src-tauri/src/core/scoring/remote.rs
Due: none

Add harness benchmark report
  docs/harness/README.md
  docs/harness/five-tuple-scorecard-2026-06-01.md
  docs/harness/sources.md
  docs/harness/walkinglabs-harness-creator-skill-evaluation.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  package.json
  scripts/harness-benchmark.mjs
  scripts/harness-benchmark.test.mjs
  scripts/harness-score.mjs
  scripts/harness-score.test.mjs
Due: none

Extract privacy logging bloat rules
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-privacy-logging.test.mjs
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/privacy-logging.mjs
Due: none

Broaden utility fixture examples
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/cow_zero_copy_tests.rs
  src-tauri/tests/live_scraper_test.rs
  src-tauri/tests/scraper_integration_test.rs
  src/components/SkillCategoryFilter.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Broaden config and profile seeds
  config/config.example.json
  docs/developer/FRONTEND_TESTING.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  profiles/README.md
  profiles/finance-accounting.json
  profiles/hr-recruiting.json
  profiles/project-operations.json
  profiles/sales-business-dev.json
  scripts/check-broad-audience-fixtures.test.mjs
  scripts/harness/checks/broad-audience-fixtures.mjs
  src-tauri/src/core/salary/benchmarks.rs
  src-tauri/src/core/salary/negotiation.rs
Due: none

Refresh documentation screenshots
  docs/images/application-tracking.png
  docs/images/ats-optimizer.png
  docs/images/dashboard.png
  docs/images/market-intelligence.png
  docs/images/one-click-apply.png
  docs/images/resume-builder.png
  docs/images/resume-matcher.png
  docs/images/salary-ai.png
  docs/images/settings.png
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  tests/e2e/playwright/screenshots.spec.ts
Due: eslint --fix

Remove static company rating claims
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-repo-bloat.mjs
  scripts/check-source-quality.test.mjs
  scripts/harness/checks/source-quality.mjs
  src/components/CompanyResearchPanel.test.tsx
  src/components/CompanyResearchPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Narrow browser import support claims
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify search link source boundaries
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/user/DEEP_LINKS.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/DeepLinkGenerator.test.tsx
  src/components/DeepLinkGenerator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Reconcile harness audit status
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
Due: none

Normalize support issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/scraper_issue.yml
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Make profile docs app-first
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  profiles/README.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Fix bookmarklet copy test race
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/components/BookmarkletGenerator.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
