Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

feat: add OS-native keyring integration for secure credentials (v2.0.0)
  .claude/plans/transient-cooking-avalanche.md
  CHANGELOG.md
  README.md
  config.example.json
  docs/README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/features/notifications.md
  docs/releases/v2.0.md
  docs/security/KEYRING.md
  docs/user/QUICK_START.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/commands/credentials.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/main.rs
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: fix markdownlint errors in releases and reports directories
  docs/releases/v1.2.md
  docs/releases/v1.3.md
  docs/releases/v1.4.md
  docs/releases/v1.5.md
  docs/releases/v1.6.md
  docs/releases/v2.0.md
  docs/reports/DEEP_ANALYSIS_COMPLETE_REPORT.md
  docs/reports/SECURITY_AUDIT_2026-01-16.md
  docs/reports/V1_COMPLETION_STATUS.md
Due: none

docs: fix markdownlint errors across all documentation
  .markdownlint.json
  .markdownlintignore
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/developer/CONTRIBUTING.md
  docs/developer/ERROR_HANDLING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/TESTING.md
  docs/developer/WHY_TAURI.md
  docs/developer/sqlite-configuration.md
  docs/features/application-tracking.md
  docs/features/ghost-detection.md
  docs/features/market-intelligence.md
  docs/features/notifications.md
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/features/scrapers.md
  docs/security/KEYRING.md
  docs/user/QUICK_START.md
  package.json
  profiles/README.md
Due: none

test: add P3 integration tests (76 tests across 4 files)
  .claude/plans/transient-cooking-avalanche.md
  .claude/plans/virtual-puzzling-pretzel.md
  CHANGELOG.md
  CLAUDE.md
  browser-extension/DESIGN.md
  docs/ROADMAP.md
  docs/archive/ONE_CLICK_APPLY_AUTOMATION.md
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/automation_integration_test.rs
  src-tauri/tests/database_integration_test.rs
  src-tauri/tests/scheduler_integration_test.rs
Due: none

feat: add P4 Resume Builder + ATS Optimizer (v2.0.0)
  .claude/plans/virtual-puzzling-pretzel.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/ROADMAP.md
  docs/features/resume-builder.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/20260117000005_add_resume_drafts.sql
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/resume.rs
  src-tauri/src/core/resume/ats_analyzer.rs
  src-tauri/src/core/resume/builder.rs
  src-tauri/src/core/resume/export.rs
  src-tauri/src/core/resume/mod.rs
  src-tauri/src/core/resume/templates.rs
  src-tauri/src/core/resume/types.rs
  src/pages/ResumeBuilder.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: comprehensive documentation update for v2.0.0
  docs/README.md
  docs/features/market-intelligence.md
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/releases/v2.0.md
  docs/user/QUICK_START.md
Due: none

chore: delete archived/completed documentation
  .claude/plans/archive/P0-keyring-plan-COMPLETED.md
  .claude/plans/archive/one-click-apply-plan-COMPLETED.md
  .claude/plans/virtual-puzzling-pretzel.md
  CLAUDE.md
  docs/README.md
  docs/archive/ONE_CLICK_APPLY_AUTOMATION.md
  docs/developer/CONTRIBUTING.md
  docs/reports/V1_COMPLETION_STATUS.md
  docs/reports/archive/DEEP_ANALYSIS_COMPLETE_REPORT.md
Due: none

docs: fix markdownlint errors across all documentation
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  CLAUDE.md
Due: none

chore: remove unused .markdownlintignore (cli2 uses .markdownlint-cli2.jsonc)
  .markdownlintignore
Due: none

docs: add frontend testing guide for React components and E2E workflows
  docs/developer/FRONTEND_TESTING.md
Due: none

feat: complete Settings UI for all config options (v2.2)
  CHANGELOG.md
  docs/features/credentials-security.md
  docs/features/resume-matcher.md
  docs/features/scraper-health.md
  docs/features/smart-scoring.md
  docs/features/user-data-management.md
  src-tauri/src/core/scheduler/workers/scoring.rs
  src-tauri/src/core/scoring/mod.rs
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: advanced resume matching with 7 phases complete (v2.3.0)
  .claude/plans/enumerated-wiggling-hennessy.md
  CHANGELOG.md
  docs/ROADMAP.md
  docs/features/resume-matcher.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/resume.rs
  src-tauri/src/core/resume/matcher.rs
  src-tauri/src/core/resume/mod.rs
  src-tauri/src/core/resume/parser.rs
  src-tauri/src/core/resume/skills.rs
  src-tauri/src/core/resume/tests.rs
  src-tauri/src/core/resume/types.rs
  src-tauri/src/core/scrapers/location_utils.rs
  src-tauri/src/main.rs
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/scheduler_integration_test.rs
  src-tauri/tests/scraping_pipeline_integration.rs
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

refactor: remove LM Studio dependency from skill extraction
  .claude/plans/enumerated-wiggling-hennessy.md
  CHANGELOG.md
  docs/ROADMAP.md
  docs/features/resume-matcher.md
  src-tauri/src/core/resume/skills.rs
Due: none

docs: add Embedded ML roadmap section for future enhancement
  docs/ROADMAP.md
Due: none

feat: Resume Builder + ATS Optimizer UI enhancements (v2.4.0)
  .claude/plans/resume-ats-enhancements.md
  CHANGELOG.md
  docs/ROADMAP.md
  docs/features/resume-matcher.md
  src/App.tsx
  src/components/ResumeMatchScoreBreakdown.tsx
  src/components/SkillCategoryFilter.tsx
  src/components/index.ts
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: update version to 2.4.0 and add Market Intelligence UI plan
  .claude/plans/market-intelligence-ui.md
  CLAUDE.md
  README.md
Due: none

docs: comprehensive docs audit with screenshots and release files
  CHANGELOG.md
  docs/images/application-tracking.png
  docs/images/dashboard.png
  docs/images/one-click-apply.png
  docs/images/resume-builder.png
  docs/images/salary-ai.png
  docs/releases/v1.2.md
  docs/releases/v2.2.md
  docs/releases/v2.3.md
  docs/releases/v2.4.md
Due: none

docs: polish README with accurate stats and new features
  README.md
Due: none

feat(market): Complete Market Intelligence UI (v2.5.0)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/features/market-intelligence.md
  docs/releases/v2.5.md
  src-tauri/src/commands/market.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/market_intelligence/alerts.rs
  src-tauri/src/core/market_intelligence/mod.rs
  src-tauri/src/core/market_intelligence/queries.rs
  src-tauri/src/core/market_intelligence/tests.rs
  src-tauri/src/main.rs
  src/components/Badge.tsx
  src/components/LocationHeatmap.tsx
  src/components/MarketAlertCard.tsx
  src/components/MarketSnapshotCard.tsx
  src/components/TrendChart.tsx
  src/components/index.ts
  src/pages/Market.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test(e2e): Add missing E2E tests for all pages
  docs/developer/TESTING.md
  e2e-tests/README.md
  e2e-tests/specs/applications.e2e.js
  e2e-tests/specs/market.e2e.js
  e2e-tests/specs/resume-builder.e2e.js
  e2e-tests/specs/resume.e2e.js
  e2e-tests/specs/salary.e2e.js
Due: none

docs: Add formal v2.6.0 UX improvement sprint plan
  docs/README.md
  docs/plans/README.md
  docs/plans/v2.6.0-ux-improvements.md
Due: none

chore: prepare for v2.5.1 beta launch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/scraper_issue.md
  .markdownlint.json
  CLAUDE.md
  CODE_OF_CONDUCT.md
  SECURITY.md
  TEST-REPORT.md
  docs/CACHE_USAGE.md
  docs/ROADMAP.md
  docs/images/application-tracking.png
  docs/images/dashboard-dark.png
  docs/images/dashboard.png
  docs/images/market-intelligence.png
  docs/images/one-click-apply.png
  docs/images/resume-builder.png
  docs/images/resume-matcher.png
  docs/images/salary-ai.png
  docs/style-guide/README.md
  eslint.config.js
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/20251115050000_add_market_intelligence.sql
  src-tauri/src/core/automation/ats_detector.rs
  src-tauri/src/core/automation/mod.rs
  src-tauri/src/core/automation/profile.rs
  src-tauri/src/core/resume/ats_analyzer.rs
  src-tauri/src/core/resume/matcher.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/mod.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/title_utils.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src/components/ErrorBoundary.test.tsx
  src/components/HelpIcon.test.tsx
  src/components/ModalErrorBoundary.test.tsx
  src/components/PageErrorBoundary.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: audit fixes - remove cloud stubs, add favicon, fix wellfound selector
  index.html
  public/favicon.png
  public/logo.png
  src-tauri/Cargo.toml
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/src/cloud/aws/mod.rs
  src-tauri/src/cloud/common/mod.rs
  src-tauri/src/cloud/gcp/mod.rs
  src-tauri/src/cloud/mod.rs
  src-tauri/src/core/scrapers/wellfound.rs
  src-tauri/src/lib.rs
Due: none

fix: handle undefined alerts in Market Intelligence
  src/components/MarketAlertCard.tsx
  src/pages/Market.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: multiple E2E-discovered bugs in Dashboard and Market pages
  src/components/ScoreDisplay.tsx
  src/mocks/data.ts
  src/mocks/handlers.ts
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/DashboardStats.tsx
  src/pages/Market.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: complete Market Intelligence and other page errors
  src/components/MarketSnapshotCard.tsx
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: consolidate 22 migrations into single schema
  src-tauri/migrations/00000000000000_initial_schema.sql
  src-tauri/migrations/20250104000000_create_jobs_table.sql
  src-tauri/migrations/20251115000000_add_integrity_tables.sql
  src-tauri/migrations/20251115010000_add_application_tracking.sql
  src-tauri/migrations/20251115020000_add_resume_matcher.sql
  src-tauri/migrations/20251115030000_add_application_automation.sql
  src-tauri/migrations/20251115040000_add_salary_data.sql
  src-tauri/migrations/20251115050000_add_market_intelligence.sql
  src-tauri/migrations/20251115060000_add_company_health.sql
  src-tauri/migrations/20260115000000_add_hidden_column.sql
  src-tauri/migrations/20260116000000_add_bookmarked_column.sql
  src-tauri/migrations/20260116000001_add_notes_column.sql
  src-tauri/migrations/20260116000002_fix_interviews_schema.sql
  src-tauri/migrations/20260116000003_add_post_interview_notes.sql
  src-tauri/migrations/20260117000000_add_ghost_detection.sql
  src-tauri/migrations/20260117000001_add_cover_letter_templates.sql
  src-tauri/migrations/20260117000002_add_interview_prep.sql
  src-tauri/migrations/20260117000003_add_saved_searches.sql
  src-tauri/migrations/20260117000004_add_notification_preferences.sql
  src-tauri/migrations/20260117000005_add_resume_drafts.sql
  src-tauri/migrations/20260118000000_add_scraper_health.sql
  src-tauri/migrations/20260118000001_add_ghost_feedback.sql
  src-tauri/migrations/20260118000002_add_scoring_config.sql
Due: none

feat: auto-refresh UI when new jobs scraped
  src-tauri/src/main.rs
  src/pages/Dashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: add visible sidebar navigation
  src/App.tsx
  src/components/Navigation.tsx
  src/components/index.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: add E2E tests for navigation sidebar
  e2e/app.spec.ts
Due: eslint --fix

docs: update TEST-REPORT.md with full-stack validation
  TEST-REPORT.md
  docs/images/application-tracking.png
  docs/images/ats-optimizer.png
  docs/images/dashboard-dark.png
  docs/images/dashboard.png
  docs/images/market-intelligence.png
  docs/images/one-click-apply.png
  docs/images/resume-builder.png
  docs/images/resume-matcher.png
  docs/images/salary-ai.png
Due: none

feat: make dark mode the default theme
  src/contexts/ThemeContext.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: dark mode default + updated screenshots
  docs/README.md
  docs/images/application-tracking.png
  docs/images/ats-optimizer.png
  docs/images/dashboard-light.png
  docs/images/dashboard.png
  docs/images/kanban-board.png
  docs/images/keyboard-shortcuts.png
  docs/images/market-intelligence.png
  docs/images/one-click-apply.png
  docs/images/resume-builder.png
  docs/images/resume-matcher.png
  docs/images/salary-ai.png
  docs/images/settings.png
  e2e/app.spec.ts
  e2e/screenshots.spec.ts
Due: eslint --fix

ci: add GitHub Actions for CI/CD and releases
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/images/keyboard-shortcuts.png
  releases/README.md
Due: none

fix: correct rust-toolchain action name in CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: use macos-15-large for Intel builds (macos-13 retired)
  .github/workflows/release.yml
Due: none
