Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add guided search review handoffs
  docs/features/application-tracking.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/pages/ApplicationsReviewPanel.test.tsx
  src/pages/ApplicationsReviewPanel.tsx
  src/pages/ResumeRoleFamilyCoverageCard.tsx
  src/pages/applicationsModel.test.ts
  src/pages/applicationsModel.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add pay offer review guardrails
  docs/design/design-spec.md
  docs/features/salary-ai.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/pages/Salary.test.tsx
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add resume reference guidance
  docs/features/resume-builder.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/references.md
  docs/research/resume-formatting-ats-2026.md
  src/pages/ResumeBuilderPreviewStep.test.tsx
  src/pages/ResumeBuilderPreviewStep.tsx
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
  src/shared/careerProfileTaxonomy.ts
  src/shared/resumeKeywordTaxonomy.json
  src/shared/resumeRoleFamilyTaxonomy.test.ts
  src/shared/resumeWritingTaxonomy.test.ts
  src/shared/resumeWritingTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

skills tweaks
  skills/application-form-review/SKILL.md
  skills/application-tracking/SKILL.md
  skills/interview-prep/SKILL.md
  skills/job-posting-risk-review/SKILL.md
  skills/job-search-plan/SKILL.md
  skills/networking-outreach/SKILL.md
  skills/offer-pay-review/SKILL.md
  skills/offer-pay-review/assets/offer-comparison-template.md
  skills/offer-pay-review/references/current-source-checks.md
  skills/resume-tailoring/SKILL.md
  skills/resume-tailoring/assets/resume-tailoring-notes.md
  skills/resume-tailoring/references/document-safety-checks.md
Due: none

Add recovery guidance to backups
  docs/features/user-data-management.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/pages/Settings.test.tsx
  src/pages/SettingsSupportSections.tsx
  src/pages/settingsLocalDataBackup.test.ts
  src/pages/settingsLocalDataBackup.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add major ATS portal checks
  docs/features/resume-builder.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/references.md
  docs/research/resume-formatting-ats-2026.md
  src/pages/ResumeBuilderPreviewStep.test.tsx
  src/pages/ResumeBuilderPreviewStep.tsx
  src/shared/resumeWritingTaxonomy.test.ts
  src/shared/resumeWritingTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add v2.9.0 release notes
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/releases/README.md
  docs/releases/v2.9.0.md
Due: none

Complete final UI verification ledger
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Refresh final v2.9 status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Add official job source corpus
  docs/features/scrapers.md
  docs/plans/active/status.md
  docs/references.md
  docs/research/job-site-data-sources.md
  package-lock.json
  package.json
  src/shared/jobSourceDiscoveryBoardsEntries.ts
  src/shared/jobSourceDiscoveryPlatformEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/jobSourceOfficialApiCorpus.test.ts
  src/shared/jobSourceOfficialApiCorpus.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add mined job source candidates
  docs/features/scrapers.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/references.md
  docs/research/job-site-data-sources.md
  src/shared/jobSourceDiscoverySectorEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/restrictedSourceTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sync v2.9 release status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Add governed semantic matching evals
  docs/ML_FEATURE.md
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/developer/LOCAL_SEMANTIC_MATCHING_QUICKSTART.md
  docs/harness/manifest.json
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  models.lock.toml
  scripts/harness/checks/repo-artifacts.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/eval_fixtures/seed_v1.json
  src-tauri/src/core/ml/evaluation.rs
  src-tauri/src/core/ml/manifest.rs
  src-tauri/src/core/ml/mod.rs
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/runtime.rs
  src-tauri/src/core/ml/tests.rs
Due: none

Add governed Qwen3 embedding backend
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  models.lock.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/mod.rs
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/qwen3.rs
  src-tauri/src/core/ml/runtime.rs
Due: none

Enforce file size contract
  docs/developer/CONTRIBUTING.md
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/developer/TESTING.md
  docs/harness/verification-matrix.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  scripts/check-repo-bloat.mjs
  scripts/harness/checks/repo-artifacts.mjs
  scripts/tests/check-repo-bloat.test.mjs
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/mod.rs
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/qwen3.rs
  src-tauri/src/core/ml/qwen3/config.rs
  src-tauri/src/core/ml/qwen3/embedding.rs
  src-tauri/src/core/ml/qwen3/model.rs
  src-tauri/src/core/ml/qwen3/pooling.rs
  src-tauri/src/core/ml/qwen3/reranker.rs
  src-tauri/src/core/ml/qwen3/tests.rs
  src-tauri/src/core/ml/qwen3/tokenization.rs
  src-tauri/src/core/ml/runtime.rs
  validation/file_size_contract.json
Due: none

Record Qwen3 reranker validation
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/ml/README.md
Due: none

Add hybrid semantic ranking core
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/hybrid.rs
  src-tauri/src/core/ml/mod.rs
Due: none

Wire hybrid scoring into resume matches
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/resume/matcher.rs
  src-tauri/src/core/resume/matcher/hybrid_score.rs
Due: none

Modularize ML model governance
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/references.md
  docs/research/README.md
  docs/research/semantic-resume-job-matching.md
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/model/cache.rs
  src-tauri/src/core/ml/model/device.rs
  src-tauri/src/core/ml/model/download.rs
  src-tauri/src/core/ml/model/integrity.rs
  src-tauri/src/core/ml/model/legacy.rs
  src-tauri/src/core/ml/model/loading.rs
  src-tauri/src/core/ml/model/status.rs
Due: none

Add outside AI provider setup
  docs/architecture/privacy-first-ai-gateway.md
  docs/plans/active/status.md
  docs/references.md
  docs/research/semantic-resume-job-matching.md
  src-tauri/src/commands/credentials.rs
  src-tauri/src/core/config/defaults.rs
  src-tauri/src/core/config/external_ai.rs
  src-tauri/src/core/config/mod.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/config/validation/external_ai.rs
  src-tauri/src/core/config/validation_tests.rs
  src-tauri/src/core/credentials/key.rs
  src-tauri/src/core/credentials/mod.rs
  src/pages/Settings.tsx
  src/pages/SettingsConfig.test.ts
  src/pages/SettingsConfig.ts
  src/pages/SettingsExternalAiSection.test.tsx
  src/pages/SettingsExternalAiSection.tsx
  src/pages/externalAiProviders.ts
  src/pages/useSettingsCredentials.ts
  src/services/aiGateway.test.ts
  src/services/aiGateway.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split external AI gateway modules
  src/services/aiGateway.ts
  src/services/aiGatewayPayloadPolicy.ts
  src/services/aiGatewayPromptInspection.ts
  src/services/aiGatewayTypes.ts
  src/services/aiGatewayValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add external AI review history foundation
  .github/CODEOWNERS
  docs/harness/manifest.json
  docs/plans/active/status.md
  scripts/check-external-ai-gateway.mjs
  scripts/check-security-sensors.mjs
  scripts/security/ai-html-boundaries.mjs
  scripts/security/tests/ai-html-boundaries.test.mjs
  scripts/tests/check-security-sensors.test.mjs
  src/components/ExternalAiReviewDialog.test.tsx
  src/components/ExternalAiReviewDialog.tsx
  src/pages/SettingsExternalAiRequestHistory.tsx
  src/pages/SettingsExternalAiSection.tsx
  src/services/externalAiRequestLog.test.ts
  src/services/externalAiRequestLog.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add reviewed outside AI job summary path
  README.md
  docs/ROADMAP.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  scripts/check-external-ai-gateway.mjs
  scripts/tests/check-external-ai-gateway.test.mjs
  src-tauri/src/commands/external_ai.rs
  src-tauri/src/commands/external_ai/provider.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/components/ExternalAiJobSummary.test.tsx
  src/components/ExternalAiJobSummary.tsx
  src/components/JobCard.tsx
  src/mocks/handlers.ts
  src/mocks/handlers/commandHelpers.ts
  src/mocks/handlers/settingsSupportCommands.ts
  src/mocks/handlers/types.ts
  src/services/aiGateway.test.ts
  src/services/aiGateway.ts
  src/services/aiGatewayTypes.ts
  src/services/externalAiBackendTransport.test.ts
  src/services/externalAiBackendTransport.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add local matching diagnostics panel
  README.md
  docs/ROADMAP.md
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/developer/LOCAL_SEMANTIC_MATCHING_QUICKSTART.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/references.md
  docs/research/semantic-resume-job-matching.md
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/semantic_matching.rs
  src-tauri/src/main.rs
  src/mocks/handlers.ts
  src/mocks/handlers/settingsSupportCommands.ts
  src/pages/SemanticMatchingDiagnosticsPanel.test.tsx
  src/pages/SemanticMatchingDiagnosticsPanel.tsx
  src/pages/SettingsResumeMatchingSection.tsx
  src/services/semanticMatchingDiagnostics.test.ts
  src/services/semanticMatchingDiagnostics.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Expand semantic matching eval fixtures
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/eval_fixtures/seed_v1.json
  src-tauri/src/core/ml/evaluation.rs
Due: none

Record resume corpus verification evidence
  docs/harness/resume-corpus-verification-v2.9.0.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Record source verification refresh
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/scheduler_integration_test.rs
  src-tauri/tests/scraping_pipeline_integration.rs
Due: none

Add semantic matching contracts
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/research/semantic-resume-job-matching.md
  src-tauri/src/core/ml/contracts.rs
  src-tauri/src/core/ml/mod.rs
  src/components/ScoreDisplay.test.tsx
  src/components/ScoreDisplay.tsx
  src/pages/ResumeOptimizerResultsPanel.test.tsx
  src/pages/ResumeOptimizerResultsPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record resume UI verification
  docs/harness/resume-corpus-verification-v2.9.0.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Use Qwen3 for semantic matcher
  docs/developer/LOCAL_SEMANTIC_MATCHING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/commands/ml.rs
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/matcher.rs
  src-tauri/src/core/ml/matcher/legacy.rs
  src-tauri/src/core/ml/matcher/qwen3.rs
  src-tauri/src/core/ml/matcher/shared.rs
  src-tauri/src/core/ml/mod.rs
  src-tauri/src/core/ml/model/cache.rs
  src-tauri/src/core/ml/model/download.rs
  src-tauri/src/core/ml/tests.rs
Due: none

Record source API research taxonomy
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/shared/jobSourceDiscoveryPlatformEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/jobSourceOfficialApiCorpus.test.ts
  src/shared/jobSourceOfficialApiCorpus.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Update v2.9 release status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Sync external AI config fixtures
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/notify/tests.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scoring/tests/mod.rs
  src/pages/Settings.load.test.tsx
  src/pages/Settings.sources.test.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.toast-regression.test.tsx
  src/pages/SettingsJobBoardRecommendations.test.tsx
  src/pages/settingsLocalDataBackup.test.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record final UI proof
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/images/application-assist.png
  docs/images/application-tracking.png
  docs/images/dashboard.png
  docs/images/hiring-system-transparency.png
  docs/images/hiring-trends.png
  docs/images/pay-protection.png
  docs/images/resume-builder.png
  docs/images/resume-matcher.png
  docs/images/settings.png
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  tests/e2e/playwright/screenshots.spec.ts
Due: eslint --fix

Expand job source API taxonomy
  docs/features/job-sources.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/shared/jobSourceDiscoveryAtsLongTailEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/jobSourceDiscoveryTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record final release gate evidence
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/Cargo.lock
Due: none

Stabilize clear filters e2e selector
  src/pages/DashboardUI/DashboardJobList.tsx
  src/pages/DashboardUI/QuickActions.tsx
  tests/e2e/playwright/page-objects/DashboardPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Close outside AI release contract
  docs/architecture/privacy-first-ai-gateway.md
  docs/harness/feature-privacy-labels.json
  docs/harness/manifest.json
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  scripts/check-harness.mjs
  scripts/harness-external-ai-features.mjs
  scripts/tests/check-harness-policy.test.mjs
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
