Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add ApplyButton tests (44 tests), fix formValidation lint warnings
  src/components/automation/ApplyButton.test.tsx
  src/utils/formValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: Update all documentation to v2.6.3
  docs/CLAUDE.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/ERROR_HANDLING.md
  docs/developer/FRONTEND_TESTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/INTEGRATION_TESTING.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/RELEASING.md
  docs/developer/TESTING.md
  docs/developer/WHY_TAURI.md
  docs/developer/sqlite-configuration.md
  docs/features/application-tracking.md
  docs/features/credentials-security.md
  docs/features/ghost-detection.md
  docs/features/market-intelligence.md
  docs/features/notifications.md
  docs/features/one-click-apply.md
  docs/features/resume-builder.md
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/features/smart-scoring.md
  docs/features/user-data-management.md
  docs/releases/v2.6.0.md
  docs/releases/v2.6.3.md
  docs/security/COMMAND_EXECUTION.md
  docs/security/KEYRING.md
  docs/security/README.md
  docs/security/URL_VALIDATION.md
  docs/security/WEBHOOK_SECURITY.md
  docs/security/XSS_PREVENTION.md
  docs/user/QUICK_START.md
Due: none

feat: Add tracing to scrapers, fix ESLint warnings, add tests
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scrapers/builtin.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/greenhouse.rs
  src-tauri/src/core/scrapers/hn_hiring.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/lever/mod.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src-tauri/src/core/scrapers/rate_limiter.rs
  src-tauri/src/core/scrapers/remoteok.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/src/core/scrapers/weworkremotely.rs
  src-tauri/src/core/scrapers/yc_startup.rs
  src/components/automation/ApplyButton.test.tsx
  src/components/automation/ProfileForm.test.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ScreeningAnswersForm.test.tsx
  src/components/settings/SliderSection.test.tsx
  src/components/settings/ToggleSection.test.tsx
  src/contexts/AnnouncerContext.tsx
  src/contexts/ErrorReportingContext.tsx
  src/contexts/KeyboardShortcutsContext.tsx
  src/contexts/UndoContext.tsx
  src/pages/Settings.tsx
  src/pages/hooks/useDashboardJobOps.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: Resolve clippy warnings and test lint issues
  src-tauri/src/core/config/validation_tests.rs
  src-tauri/src/core/db/tests.rs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/teams.rs
  src-tauri/src/core/salary/tests.rs
  src-tauri/src/core/scheduler/tests.rs
  src/components/AsyncButton.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: Remove problematic ProfileForm.test.tsx
  src/components/automation/ProfileForm.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: Add UX/UI accessibility improvements
  src/components/JobCard.tsx
  src/components/LoadingSpinner.test.tsx
  src/components/LoadingSpinner.tsx
  src/components/ScoreDisplay.tsx
  src/components/VirtualJobList.test.tsx
  src/components/VirtualJobList.tsx
  src/contexts/ToastContext.test.tsx
  src/contexts/ToastContext.tsx
  src/pages/ResumeBuilder.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: Update documentation for v2.6.3 accuracy
  docs/README.md
  docs/ROADMAP.md
  docs/developer/FRONTEND_TESTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/TESTING.md
  docs/features/application-tracking.md
  docs/features/remote-preference-scoring.md
  docs/features/synonym-matching.md
  docs/reports/SECURITY_AUDIT_2026-01-16.md
  docs/reports/TEST-REPORT.md
Due: none

feat: Add comprehensive UX/UI accessibility improvements
  src/components/Badge.test.tsx
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/CommandPalette.tsx
  src/components/DashboardWidgets.test.tsx
  src/components/DashboardWidgets.tsx
  src/components/ErrorBoundary.tsx
  src/components/JobCard.tsx
  src/pages/Applications.tsx
  src/pages/Dashboard.tsx
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: Fix UX issues and update documentation
  docs/CLAUDE.md
  docs/releases/v2.6.0.md
  docs/releases/v2.6.3.md
  src/components/CoverLetterTemplates.tsx
  src/components/InterviewScheduler.tsx
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: Comprehensive UX/UI accessibility and polish improvements
  docs/developer/sqlite-configuration.md
  docs/features/market-intelligence.md
  docs/features/scraper-health.md
  src/components/Button.tsx
  src/components/CoverLetterTemplates.tsx
  src/components/Dropdown.tsx
  src/components/ErrorBoundary.tsx
  src/components/Input.tsx
  src/components/InterviewScheduler.tsx
  src/components/LoadingSpinner.tsx
  src/components/Modal.tsx
  src/components/ModalErrorBoundary.tsx
  src/components/NotificationPreferences.tsx
  src/components/SkipToContent.tsx
  src/components/Tooltip.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/components/resume-builder/steps/SkillsStep.tsx
  src/components/resume-builder/steps/SummaryStep.tsx
  src/components/settings/ToggleSection.tsx
  src/pages/Applications.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/DashboardUI/DashboardHeader.tsx
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/ResumeOptimizer.tsx
  src/pages/Salary.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: Update tests for motion-safe and focus-visible changes
  src-tauri/src/core/db/tests.rs
  src/components/Button.test.tsx
  src/components/DashboardWidgets.test.tsx
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/components/Input.test.tsx
  src/components/LoadingFallbacks.tsx
  src/components/LoadingSpinner.test.tsx
  src/components/ScraperHealthDashboard.test.tsx
  src/components/SkipToContent.test.tsx
  src/components/Tooltip.test.tsx
  src/components/settings/ToggleSection.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: Accessibility improvements - autocomplete and motion-safe
  src/components/CareerProfileSelector.tsx
  src/components/CoverLetterTemplates.tsx
  src/components/ModalErrorBoundary.tsx
  src/components/OnboardingTour.tsx
  src/components/SkillCategoryFilter.tsx
  src/components/settings/FilterListInput.tsx
  src/contexts/ToastContext.tsx
  src/pages/Applications.tsx
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/Settings.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: Security improvements and bug fixes
  src-tauri/src/commands/cache.rs
  src/components/JobCard.tsx
  src/pages/Dashboard.tsx
  src/utils/urlValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

refactor: Clippy fixes and Rust best practices
  src-tauri/src/commands/credentials.rs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/config/validation_error.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/resume/templates.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/tests/api_contract_test.rs
Due: none

docs: Add comprehensive Beta Feedback Plan
  docs/developer/BETA_FEEDBACK_PLAN.md
  src/components/DashboardWidgets.test.tsx
  src/components/ModalErrorBoundary.test.tsx
  src/components/ScraperHealthDashboard.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: Add beta feedback system with privacy-first design
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  CHANGELOG.md
  CLAUDE.md
  docs/CLAUDE.md
  docs/ROADMAP.md
  src-tauri/src/commands/feedback/debug_log.rs
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/feedback/report.rs
  src-tauri/src/commands/feedback/sanitizer.rs
  src-tauri/src/commands/feedback/system_info.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/components/feedback/CategorySelector.tsx
  src/components/feedback/DebugInfoPreview.tsx
  src/components/feedback/DescriptionInput.tsx
  src/components/feedback/FeedbackModal.tsx
  src/components/feedback/SubmitOptions.tsx
  src/components/feedback/SuccessScreen.tsx
  src/components/feedback/index.ts
  src/hooks/useFeedback.ts
  src/pages/DashboardIcons.tsx
  src/pages/Settings.tsx
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: Handle cookie Expiration enum correctly on Windows
  src-tauri/src/commands/linkedin_auth.rs
Due: none

fix: Parse URL for cookies_for_url on Windows
  src-tauri/src/commands/linkedin_auth.rs
Due: none

feat: add deep link generator for 19 job sites
  src-tauri/src/commands/deeplinks.rs
  src-tauri/src/core/deeplinks/generator.rs
  src-tauri/src/core/deeplinks/mod.rs
  src-tauri/src/core/deeplinks/sites.rs
  src-tauri/src/core/deeplinks/types.rs
  src/components/DeepLinkGenerator.tsx
  src/pages/DeepLinksPage.tsx
  src/services/deeplinks.ts
  src/types/deeplinks.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: add JSON Resume import support
  docs/features/json-resume-import.md
  examples/sample-json-resume.json
  src-tauri/src/commands/resume.rs
  src-tauri/src/core/resume/json_resume.rs
  src-tauri/src/core/resume/mod.rs
  src/pages/Resume.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: add smart screening answers learning
  src-tauri/migrations/00000000000002_screening_answer_learning.sql
  src-tauri/src/commands/automation.rs
  src-tauri/src/core/automation/answer_learning.rs
  src-tauri/src/core/automation/mod.rs
  src/components/automation/ScreeningAnswerSuggestions.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/components/automation/index.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: add job import and bookmarklet server
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/commands/import.rs
  src-tauri/src/core/bookmarklet/mod.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/import/README.md
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/import/mod.rs
  src-tauri/src/core/import/schema_org.rs
  src-tauri/src/core/import/tests.rs
  src-tauri/src/core/import/types.rs
  src/components/BookmarkletGenerator.tsx
  src/components/JobImportModal.tsx
  src/components/index.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

feat: add embedded ML for semantic matching
  docs/ML_FEATURE.md
  docs/ML_QUICKSTART.md
  src-tauri/src/commands/ml.rs
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/embeddings.rs
  src-tauri/src/core/ml/matcher.rs
  src-tauri/src/core/ml/mod.rs
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/tests.rs
  src-tauri/src/core/mod.rs
Due: none

feat: add IP geolocation to setup wizard
  src-tauri/src/commands/geo.rs
  src-tauri/src/core/geo/mod.rs
  src/pages/Settings.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: add E2E test suite for core workflows
  tests/e2e/README.md
  tests/e2e/playwright/job-interactions.spec.ts
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/page-objects/JobDetailPage.ts
  tests/e2e/playwright/page-objects/MarketIntelligencePage.ts
  tests/e2e/playwright/page-objects/OneClickApplyPage.ts
  tests/e2e/playwright/page-objects/ResumeBuilderPage.ts
  tests/e2e/playwright/page-objects/index.ts
  tests/e2e/playwright/resume-builder.spec.ts
Due: eslint --fix

ci: add Linux build and release workflows
  .github/workflows/build-linux.yml
  .github/workflows/release.yml
  docs/developer/LINUX_BUILD.md
Due: none

chore: update module registrations and fix warnings
  src-tauri/src/commands/feedback/debug_log.rs
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/feedback/sanitizer.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/db/crud.rs
  src-tauri/src/core/resume/builder.rs
  src-tauri/src/main.rs
Due: none

docs: update changelog and documentation for v2.7
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
  docs/developer/GETTING_STARTED.md
  docs/features/scrapers.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/CoverLetterTemplates.tsx
  src/pages/Applications.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/QuickActions.tsx
  src/pages/hooks/useDashboardSavedSearches.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: add developer implementation guides
  DEEP_LINKS_IMPLEMENTATION.md
  IMPLEMENTATION_PLAN.md
  JSON_RESUME_IMPLEMENTATION.md
  SMART_SCREENING_ANSWERS_IMPLEMENTATION.md
  docs/BOOKMARKLET.md
  docs/developer/ADDING_DEEP_LINK_SITES.md
  docs/developer/UNDO_REDO_IMPLEMENTATION.md
  docs/intel-mac-support.md
  docs/user/DEEP_LINKS.md
  src/contexts/UndoIntegration.test.tsx
  tests/e2e/E2E_TEST_ENHANCEMENTS.md
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: improve error handling in feedback module
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/feedback/report.rs
  src-tauri/src/commands/feedback/sanitizer.rs
  src-tauri/src/commands/feedback/system_info.rs
Due: none

chore: update npm dependencies
  package-lock.json
Due: none

docs: fix markdown lint errors across documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/scraper_issue.md
  .github/copilot-instructions.md
  DEEP_LINKS_IMPLEMENTATION.md
  IMPLEMENTATION_PLAN.md
  JSON_RESUME_IMPLEMENTATION.md
  SMART_SCREENING_ANSWERS_IMPLEMENTATION.md
  docs/BOOKMARKLET.md
  docs/ML_FEATURE.md
  docs/developer/ADDING_DEEP_LINK_SITES.md
  docs/developer/BETA_FEEDBACK_PLAN.md
  docs/developer/UNDO_REDO_IMPLEMENTATION.md
  docs/features/scrapers.md
  docs/intel-mac-support.md
  docs/user/DEEP_LINKS.md
  src-tauri/src/core/import/README.md
  src-tauri/src/core/ml/README.md
  tests/e2e/E2E_TEST_ENHANCEMENTS.md
Due: none

fix: resolve 45 failing tests
  src/components/CoverLetterTemplates.test.tsx
  src/components/DashboardWidgets.test.tsx
  src/components/automation/ScreeningAnswersForm.test.tsx
  src/components/automation/ScreeningAnswersForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove debug console.log statements
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/pages/Settings.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: resolve settings infinite load and null score filtering bugs
  src/components/JobCard.tsx
  src/components/ScoreDisplay.tsx
  src/components/VirtualJobList.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardTypes.ts
  src/pages/Settings.tsx
  src/pages/hooks/useDashboardFilters.ts
  src/utils/export.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix(security): patch 9 Dependabot vulnerabilities
  package-lock.json
  package.json
  src-tauri/Cargo.lock
Due: none

docs: fix 27 markdownlint errors in BETA_FEEDBACK_PLAN.md
  docs/developer/BETA_FEEDBACK_PLAN.md
Due: none

fix: resolve failing Rust test and update README with accurate stats
  CLAUDE.md
  README.md
  src-tauri/src/core/import/schema_org.rs
Due: none

docs: sync copilot-instructions and CLAUDE.md with current stats
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
