Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: simplify releases to manual local builds
  .github/workflows/release.yml
  releases/README.md
Due: none

ci: add Windows-only build workflow
  .github/workflows/build-windows.yml
Due: none

fix: allow unsafe code in Windows platform module
  src-tauri/src/platforms/windows/mod.rs
Due: none

fix: add all icon formats for cross-platform builds
  src-tauri/tauri.conf.json
Due: none

docs: update all documentation for v2.5.1 release
  .github/ISSUE_TEMPLATE/scraper_issue.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/developer/GETTING_STARTED.md
  docs/developer/TESTING.md
  docs/releases/v2.5.1.md
  docs/user/QUICK_START.md
Due: none

chore: organize root directory
  .markdownlint-cli2.jsonc
  config/config.example.json
  docker/Dockerfile.dev
  docs/CLAUDE.md
  docs/README.md
  docs/developer/CONTRIBUTING.md
  docs/reports/SECURITY_AUDIT_2026-01-16.md
  docs/reports/TEST-REPORT.md
  profiles/README.md
  src-tauri/src/core/scrapers/mod.rs
Due: none

chore: major directory cleanup and reorganization
  README.md
  browser-extension/DESIGN.md
  browser-extension/README.md
  browser-extension/background/service-worker.js
  browser-extension/manifest.json
  browser-extension/popup.html
  browser-extension/popup.js
  browser-extension/scripts/content-script.js
  browser-extension/scripts/job-detector.js
  browser-extension/scripts/scoring-overlay.js
  browser-extension/styles/overlay.css
  docs/README.md
  docs/developer/RELEASING.md
  docs/developer/TESTING.md
  e2e-tests/.gitignore
  logs/pkg_crash.txt
  playwright.config.ts
  src-tauri/src-tauri/icons/128x128.png
  src-tauri/src-tauri/icons/128x128@2x.png
  src-tauri/src-tauri/icons/32x32.png
  tests/README.md
  tests/e2e/playwright/app.spec.ts
  tests/e2e/playwright/screenshots.spec.ts
  tests/e2e/webdriverio/README.md
  tests/e2e/webdriverio/applications.e2e.js
  tests/e2e/webdriverio/dashboard.e2e.js
  tests/e2e/webdriverio/market.e2e.js
  tests/e2e/webdriverio/one-click-apply.e2e.js
  tests/e2e/webdriverio/package-lock.json
  tests/e2e/webdriverio/package.json
  tests/e2e/webdriverio/resume-builder.e2e.js
  tests/e2e/webdriverio/resume.e2e.js
  tests/e2e/webdriverio/salary.e2e.js
  tests/e2e/webdriverio/settings.e2e.js
  tests/e2e/webdriverio/wdio.conf.js
Due: eslint --fix

docs: Add frontend architecture plan to ROADMAP for v2.6
  docs/ROADMAP.md
Due: none

docs: Documentation cleanup and browser extension removal
  .claude/plans/enumerated-wiggling-hennessy.md
  .claude/plans/market-intelligence-ui.md
  .claude/plans/resume-ats-enhancements.md
  .gitignore
  docs/CLAUDE.md
  docs/README.md
  docs/ROADMAP.md
Due: none

Add e2e docs images for features
  tests/e2e/docs/images/application-tracking.png
  tests/e2e/docs/images/ats-optimizer.png
  tests/e2e/docs/images/dashboard-light.png
  tests/e2e/docs/images/dashboard.png
  tests/e2e/docs/images/keyboard-shortcuts.png
  tests/e2e/docs/images/market-intelligence.png
  tests/e2e/docs/images/one-click-apply.png
  tests/e2e/docs/images/resume-builder.png
  tests/e2e/docs/images/resume-matcher.png
  tests/e2e/docs/images/salary-ai.png
  tests/e2e/docs/images/settings.png
Due: none

docs: improve user-facing docs for non-technical users
  README.md
  docs/features/application-tracking.md
  docs/features/market-intelligence.md
  docs/features/notifications.md
  docs/features/salary-ai.md
  docs/style-guide/GLOSSARY.md
  docs/user/QUICK_START.md
Due: none

style: fix markdown list spacing in README
  README.md
Due: none

Fix critical onboarding and settings bugs (v2.5.2)
  CHANGELOG.md
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/releases/v2.5.2.md
  src-tauri/src/platforms/macos/mod.rs
  src-tauri/tests/live_scraper_test.rs
  src/pages/Settings.tsx
  src/pages/SetupWizard.tsx
  src/utils/profiles.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix market sentiment tests using relative dates
  src-tauri/src/core/market_intelligence/analytics.rs
Due: none

Bump version to 2.5.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Update remaining docs to v2.5.2
  docs/CLAUDE.md
  docs/developer/GETTING_STARTED.md
  docs/developer/TESTING.md
  docs/reports/TEST-REPORT.md
  docs/user/QUICK_START.md
  package-lock.json
  src-tauri/Cargo.lock
Due: none

Add credential storage integration tests
  src-tauri/tests/credential_test.rs
Due: none

Expand live scraper tests to cover all 15 scrapers
  src-tauri/tests/live_scraper_test.rs
Due: none

Remove Cloudflare-blocked scrapers, fix BuiltIn URL structure
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/config/defaults.rs
  src-tauri/src/core/config/mod.rs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/notify/email.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/notify/slack.rs
  src-tauri/src/core/notify/teams.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scoring/mod.rs
  src-tauri/src/core/scrapers/builtin.rs
  src-tauri/src/core/scrapers/indeed.rs
  src-tauri/src/core/scrapers/mod.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/wellfound.rs
  src-tauri/src/core/scrapers/ziprecruiter.rs
  src-tauri/src/main.rs
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/live_scraper_test.rs
  src-tauri/tests/scheduler_integration_test.rs
  src-tauri/tests/scraper_integration_test.rs
  src-tauri/tests/scraping_pipeline_integration.rs
  src/components/AnalyticsPanel.tsx
  src/components/NotificationPreferences.tsx
  src/mocks/data.ts
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

v2.5.3: LinkedIn Auto-Connect + USAJobs Integration
  CHANGELOG.md
  README.md
  docs/README.md
  docs/features/scrapers.md
  docs/releases/v2.5.3.md
  docs/security/KEYRING.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/config/defaults.rs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scoring/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/credential_test.rs
  src-tauri/tests/scheduler_integration_test.rs
  src-tauri/tests/scraping_pipeline_integration.rs
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add UX improvements for non-technical users
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Bump version to 2.5.4 for UX improvements release
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Add Windows & Linux LinkedIn auto-connect support
  CHANGELOG.md
  docs/releases/v2.5.3.md
  src-tauri/Cargo.lock
  src-tauri/src/commands/linkedin_auth.rs
Due: none

Add 15 UX improvements and user-friendly error handling
  src-tauri/src/commands/automation.rs
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/jobs.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/user_data.rs
  src/components/CompanyResearchPanel.tsx
  src/components/JobCard.tsx
  src/components/automation/ApplyButton.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/pages/ApplicationProfile.tsx
  src/pages/Applications.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/DashboardHeader.tsx
  src/pages/Market.tsx
  src/pages/ResumeOptimizer.tsx
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add 6 more UX improvements
  src/components/AnalyticsPanel.tsx
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Improve error logging consistency and accessibility
  src/components/AtsLiveScorePanel.tsx
  src/components/CommandPalette.tsx
  src/components/CoverLetterTemplates.tsx
  src/components/DashboardWidgets.tsx
  src/components/GhostIndicator.tsx
  src/components/NotificationPreferences.tsx
  src/components/ScraperHealthDashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add loading states and form validation
  src/components/InterviewScheduler.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Replace remaining console.error with logError
  src/components/DashboardWidgets.tsx
  src/components/JobCard.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/Settings.tsx
  src/utils/notifications.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add validation, accessibility, and performance improvements
  src/components/LocationHeatmap.tsx
  src/components/Tooltip.tsx
  src/components/automation/ProfileForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add validation, accessibility, and performance improvements
  src/components/CommandPalette.tsx
  src/components/InterviewScheduler.tsx
  src/components/NotificationPreferences.tsx
  src/components/VirtualJobList.tsx
  src/pages/hooks/useDashboardFilters.ts
  src/utils/constants.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Improve keyboard accessibility and form validation
  src/components/JobCard.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ScreeningAnswersForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add performance optimizations and UX polish
  src/components/CompanyAutocomplete.tsx
  src/components/ScoreDisplay.tsx
  src/components/automation/ApplyButton.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add dirty state tracking and use centralized constants
  src/components/CompanyResearchPanel.tsx
  src/components/automation/ProfileForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add contextual loading text to buttons
  src/components/Button.tsx
  src/components/automation/ApplyButton.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/pages/Resume.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add confirmation dialogs and form validation
  src/components/Input.tsx
  src/components/InterviewScheduler.tsx
  src/components/StatCard.tsx
  src/components/automation/ProfileForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add accessibility and UX improvements
  src/components/InterviewScheduler.tsx
  src/pages/Applications.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add accessibility & performance improvements
  src/components/Input.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/components/LocationHeatmap.tsx
  src/components/MarketAlertCard.tsx
  src/components/VirtualJobList.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/QuickActions.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add focus-visible styles and aria attributes
  src/components/DashboardWidgets.tsx
  src/components/GhostIndicator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
