Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

fix: satisfy keyring migration clippy
  src-tauri/src/main.rs
Due: none

fix: harden browser storage access
  src/components/AnalyticsPanel.tsx
  src/components/AtsLiveScorePanel.tsx
  src/components/CompanyResearchPanel.tsx
  src/components/ErrorBoundary.tsx
  src/components/OnboardingTour.tsx
  src/components/automation/ApplyButton.tsx
  src/contexts/ThemeContext.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/ResumeOptimizer.tsx
  src/utils/browserStorage.test.ts
  src/utils/browserStorage.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove unreferenced docs screenshots
  docs/images/dashboard-light.png
  docs/images/keyboard-shortcuts.png
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  tests/e2e/playwright/screenshots.spec.ts
Due: eslint --fix

chore: remove stale release promises
  README.md
  docs/BOOKMARKLET.md
  docs/ROADMAP.md
  docs/plans/README.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AnalyticsPanel.tsx
  src/components/BookmarkletGenerator.tsx
  src/components/InterviewScheduler.test.tsx
  src/components/InterviewScheduler.tsx
  src/pages/Applications.tsx
  src/pages/ResumeBuilder.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: replace frontend glyph markers
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/DeepLinkGenerator.tsx
  src/components/GhostIndicator.tsx
  src/components/JobImportModal.tsx
  src/components/LocationHeatmap.test.tsx
  src/components/LocationHeatmap.tsx
  src/components/MarketAlertCard.test.tsx
  src/components/MarketAlertCard.tsx
  src/components/MarketSnapshotCard.test.tsx
  src/components/MarketSnapshotCard.tsx
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
  src/components/ScoreDisplay.tsx
  src/components/ScraperHealthDashboard.tsx
  src/mocks/handlers.ts
  src/pages/Market.tsx
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/Settings.tsx
  src/types/deeplinks.ts
  src/utils/errorHelpers.ts
  src/utils/vitals.test.ts
  src/utils/vitals.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: normalize backend scoring text
  docs/features/resume-matcher.md
  docs/features/smart-scoring.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/resume/matcher.rs
  src-tauri/src/core/scoring/mod.rs
  src-tauri/src/core/scoring/remote.rs
Due: none

chore: sync notification scoring text
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/email.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/notify/slack.rs
  src-tauri/src/core/notify/teams.rs
  src-tauri/src/core/notify/telegram.rs
Due: none

docs: normalize salary ai examples
  docs/features/salary-ai.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize active user doc paths
  docs/features/application-tracking.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/user/QUICK_START.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize scraper feature guide
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize scraper health guide
  docs/features/scraper-health.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize developer layout lists
  docs/developer/GETTING_STARTED.md
  docs/developer/INTEGRATION_TESTING.md
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize frontend testing layout
  docs/developer/FRONTEND_TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize market intelligence guide
  docs/features/market-intelligence.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize architecture flows
  docs/developer/ARCHITECTURE.md
  docs/developer/ERROR_HANDLING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize remaining active doc glyphs
  docs/developer/ADDING_DEEP_LINK_SITES.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/WHY_TAURI.md
  docs/features/ghost-detection.md
  docs/features/json-resume-import.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

test: sync error helper log expectation
  src/utils/errorHelpers.test.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: derive frontend error export version
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/services/feedbackService.test.ts
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
  src/vite-env.d.ts
  vite.config.ts
  vitest.config.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: normalize top-level ML guides
  docs/BOOKMARKLET.md
  docs/ML_FEATURE.md
  docs/ML_QUICKSTART.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: normalize roadmap layout text
  docs/README.md
  docs/ROADMAP.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/style-guide/GLOSSARY.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: cap external response bodies
  docs/developer/ARCHITECTURE.md
  docs/features/scrapers.md
  src-tauri/src/commands/import.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/http_body.rs
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/import/types.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/notify/telegram.rs
  src-tauri/src/core/scrapers/builtin.rs
  src-tauri/src/core/scrapers/cache.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/error.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/greenhouse.rs
  src-tauri/src/core/scrapers/hn_hiring.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/lever/mod.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src-tauri/src/core/scrapers/remoteok.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/src/core/scrapers/weworkremotely.rs
  src-tauri/src/core/scrapers/yc_startup.rs
Due: none

docs: record cleanup scan progress
  docs/plans/active/repo-cleanup-and-quality-sweep.md
Due: none

fix: guard bounded response reads
  docs/developer/ARCHITECTURE.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/geo/mod.rs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/teams.rs
Due: none

fix: validate JobsWithGPT endpoint
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src-tauri/src/core/config/defaults.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/config/validation_tests.rs
Due: none

fix: reject URL credentials
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/URL_VALIDATION.md
  src-tauri/src/core/config/validation_tests.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/url_security.rs
  src/utils/urlValidation.test.ts
  src/utils/urlValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: bound cache response example
  docs/CACHE_USAGE.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: route job links through backend
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/URL_VALIDATION.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/pages/Dashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: hide ML cache paths
  docs/ML_FEATURE.md
  docs/ML_QUICKSTART.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/ml.rs
  src-tauri/src/core/ml/model.rs
Due: none

fix: sanitize MCP scraper errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/jobswithgpt.rs
Due: none

fix: sanitize usajobs error bodies
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/usajobs.rs
Due: none

fix: redact jobswithgpt debug output
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/jobswithgpt.rs
Due: none

fix: redact linkedin scraper debug output
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/linkedin.rs
Due: none

docs: sync linkedin credential flow
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/linkedin.rs
Due: none

fix: harden credential redaction
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/KEYRING.md
  src-tauri/src/commands/credentials.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src/utils/export.test.ts
  src/utils/export.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: redact notification secrets
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src-tauri/src/commands/config.rs
  src-tauri/src/core/notify/telegram.rs
  src-tauri/src/core/scrapers/usajobs.rs
Due: none

test: guard credential redaction drift
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: redact webhook request errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/slack.rs
  src-tauri/src/core/notify/teams.rs
Due: none

fix: omit notification provider error bodies
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/KEYRING.md
  docs/security/WEBHOOK_SECURITY.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/notify/teams.rs
  src-tauri/src/core/notify/telegram.rs
Due: none

fix: sanitize config URL validation errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/URL_VALIDATION.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/config/tests.rs
  src-tauri/src/core/config/validation_error.rs
Due: none

fix: harden resume contact URL validation
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-frontend-boundaries.mjs
  scripts/check-frontend-boundaries.test.mjs
  src/components/resume-builder/steps/ContactStep.tsx
  src/utils/formValidation.test.ts
  src/utils/formValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix
