Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Soften backend posting risk reasons
  docs/plans/active/current-work.md
  src-tauri/src/core/ghost/mod.rs
  src-tauri/src/core/ghost/tests.rs
Due: none

Pin workflow environments and apt packages
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/docs-harness.yml
  .github/workflows/release.yml
  .github/workflows/verify-release-artifacts.yml
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-action-pins.test.mjs
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/check-macos-readiness.mjs
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  scripts/dependency/workflow-environment-pins.mjs
Due: none

Align whole UI verification ledger
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
Due: none

Surface malformed listed pay on job cards
  docs/harness/ui-manual-verification-v2.9.0.md
  src/components/JobCard.test.tsx
  src/components/jobCardGuidance.test.ts
  src/components/jobCardGuidance.ts
  src/utils/formatUtils.test.ts
  src/utils/formatUtils.ts
  tests/e2e/playwright/job-search-filtering.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Flag driving record application questions
  docs/features/one-click-apply.md
  docs/harness/ui-manual-verification-v2.9.0.md
  src/components/automation/ApplicationPreview.savedScreeningAnswers.test.tsx
  src/components/automation/ApplicationPreview.screening.test.tsx
  src/components/automation/ApplicationPreview.tsx
  src/components/automation/ApplyButton.tsx
  src/components/automation/ScreeningAnswersForm.form.test.tsx
  src/components/automation/screeningReviewGuidance.ts
  tests/e2e/playwright/job-search-filtering.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten latest stable dependency gate
  docs/developer/CI_CD.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/harness/verification-matrix.md
  package-lock.json
  package.json
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/dependency/cargo-compatible-updates.mjs
  scripts/dependency/npm-compatible-updates.mjs
  scripts/dependency/npm-overrides.mjs
Due: none

Sync dependency readiness status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Encrypt SQLite storage with SQLCipher
  docs/developer/ARCHITECTURE.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/sqlite-configuration.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/security/KEYRING.md
  docs/security/README.md
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/dependency/cargo-latest-exceptions.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/db/connection.rs
  src-tauri/src/core/db/encryption.rs
  src-tauri/src/core/db/mod.rs
Due: none

Add credential passphrase vault lock
  README.md
  SECURITY.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/features/credentials-security.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/security/KEYRING.md
  docs/security/README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/00000000000008_credential_key_wrapping.sql
  src-tauri/src/commands/credentials.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/credentials/passphrase.rs
  src-tauri/src/core/credentials/service.rs
  src-tauri/src/main.rs
Due: none

Add passphrase lock settings UI
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/security/KEYRING.md
  src/mocks/handlers.ts
  src/mocks/handlers/settingsSupportCommands.ts
  src/mocks/handlers/types.ts
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/pages/SettingsConfig.ts
  src/pages/SettingsCredentialLockSection.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Refresh latest stable dependency locks
  docs/plans/active/status.md
  src-tauri/Cargo.lock
Due: none

Add macOS user-presence vault key storage
  docs/plans/active/status.md
  docs/security/KEYRING.md
  docs/security/README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/credentials/service.rs
  src-tauri/src/core/credentials/vault_key_store.rs
Due: none

Sync macOS storage active plan
  docs/plans/active/current-work.md
Due: none

Stabilize UI release gates
  docs/plans/active/status.md
  src/components/automation/ProfileForm.test.tsx
  src/components/automation/ProfileForm.tsx
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/page-objects/MarketIntelligencePage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record local release gate evidence
  docs/plans/active/status.md
Due: none

Record affected UI manual verification
  docs/harness/ui-manual-verification-v2.9.0.md
Due: none

Fix final audit privacy and scheduler gates
  src-tauri/src/commands/import.rs
  src-tauri/src/commands/jobs.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/bookmarklet/server/tests.rs
  src-tauri/src/core/config/validation.rs
  src-tauri/src/core/config/validation_tests.rs
  src-tauri/src/core/db/crud.rs
  src-tauri/src/core/db/tests.rs
  src-tauri/src/core/job_hash.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/scheduler/mod.rs
  src-tauri/src/core/scheduler/pipeline.rs
  src-tauri/src/core/scheduler/types.rs
  src-tauri/src/core/scheduler/workers/persistence.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/jobswithgpt/tests.rs
  src-tauri/src/core/url_security.rs
  src-tauri/src/main.rs
  src/components/CompanyResearchPanel.test.tsx
  src/components/CompanyResearchPanel.tsx
  src/components/OnboardingTour.test.tsx
  src/components/OnboardingTour.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Prepare v2.9.0 release metadata
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/BOOKMARKLET.md
  docs/README.md
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  package-lock.json
  package.json
  scripts/check-repo-bloat-frontend-security.test.mjs
  scripts/harness/checks/source-quality.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Apply Quiet Shield token pass
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/AtsLiveScorePanel.test.tsx
  src/components/DashboardWidgets.tsx
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
  src/components/ScoreDisplay.test.tsx
  src/components/ScoreDisplay.tsx
  src/index.css
  src/pages/DashboardUI/DashboardStats.tsx
  src/pages/Resume.tsx
  src/pages/ResumeRecentMatches.tsx
  src/utils/scoreUtils.test.ts
  src/utils/scoreUtils.ts
  tailwind.config.js
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Deepen job search agent skills
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-agent-skills.mjs
  scripts/check-agent-skills.test.mjs
  skills/README.md
  skills/application-form-review/SKILL.md
  skills/application-form-review/agents/openai.yaml
  skills/application-form-review/assets/form-review-checklist.md
  skills/application-tracking/SKILL.md
  skills/application-tracking/agents/openai.yaml
  skills/application-tracking/assets/application-tracker.csv
  skills/interview-prep/SKILL.md
  skills/interview-prep/agents/openai.yaml
  skills/interview-prep/assets/interview-prep-brief.md
  skills/interview-prep/references/story-quality-rubric.md
  skills/job-posting-risk-review/SKILL.md
  skills/job-posting-risk-review/agents/openai.yaml
  skills/job-posting-risk-review/assets/posting-review-template.md
  skills/job-posting-risk-review/references/posting-risk-scoring.md
  skills/job-search-plan/SKILL.md
  skills/job-search-plan/agents/openai.yaml
  skills/job-search-plan/assets/search-plan-template.md
  skills/job-search-plan/references/weekly-review-rubric.md
  skills/networking-outreach/SKILL.md
  skills/networking-outreach/agents/openai.yaml
  skills/networking-outreach/assets/outreach-note-template.md
  skills/networking-outreach/references/channel-patterns.md
  skills/offer-pay-review/SKILL.md
  skills/offer-pay-review/agents/openai.yaml
  skills/offer-pay-review/assets/offer-comparison-template.md
  skills/offer-pay-review/references/offer-pay-rubric.md
  skills/resume-tailoring/SKILL.md
  skills/resume-tailoring/agents/openai.yaml
  skills/resume-tailoring/assets/resume-tailoring-notes.md
  skills/resume-tailoring/references/evidence-mapping.md
Due: none

Record final UI verification
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/automation/ProfileForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fold persona job references into skills
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  skills/application-form-review/SKILL.md
  skills/application-tracking/SKILL.md
  skills/application-tracking/assets/application-tracker.csv
  skills/interview-prep/SKILL.md
  skills/interview-prep/assets/interview-prep-brief.md
  skills/job-search-plan/SKILL.md
  skills/job-search-plan/assets/search-plan-template.md
  skills/networking-outreach/SKILL.md
  skills/networking-outreach/assets/outreach-note-template.md
  skills/offer-pay-review/SKILL.md
  skills/resume-tailoring/SKILL.md
  skills/resume-tailoring/assets/resume-tailoring-notes.md
Due: none

Move company cache out of panel
  src/components/CompanyResearchPanel.test.tsx
  src/components/CompanyResearchPanel.tsx
  src/components/companyResearchCache.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Stabilize WebKit E2E shortcuts
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
Due: eslint --fix

Strengthen job search skills from research
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/references.md
  skills/README.md
  skills/application-form-review/SKILL.md
  skills/application-form-review/assets/form-review-checklist.md
  skills/application-tracking/SKILL.md
  skills/application-tracking/assets/application-tracker.csv
  skills/interview-prep/SKILL.md
  skills/interview-prep/assets/interview-prep-brief.md
  skills/job-posting-risk-review/SKILL.md
  skills/job-posting-risk-review/assets/posting-review-template.md
  skills/job-posting-risk-review/references/posting-risk-scoring.md
  skills/job-search-plan/SKILL.md
  skills/job-search-plan/assets/search-plan-template.md
  skills/job-search-plan/references/weekly-review-rubric.md
  skills/networking-outreach/SKILL.md
  skills/networking-outreach/assets/outreach-note-template.md
  skills/networking-outreach/references/channel-patterns.md
  skills/offer-pay-review/SKILL.md
  skills/offer-pay-review/assets/offer-comparison-template.md
  skills/offer-pay-review/references/offer-pay-rubric.md
  skills/resume-tailoring/SKILL.md
  skills/resume-tailoring/assets/resume-tailoring-notes.md
  skills/resume-tailoring/references/evidence-mapping.md
Due: none

Fix macOS package smoke launch
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
  src-tauri/src/core/db/encryption.rs
  src-tauri/src/platforms/macos/mod.rs
Due: none

Document macOS smoke isolation
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/status.md
Due: none

Avoid Keychain in database integration test
  src-tauri/tests/database_integration_test.rs
Due: none

Record final local readiness
  docs/plans/active/status.md
Due: none

Consolidate and harden workflows
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/docs-harness.yml
  .github/workflows/release.yml
  .github/workflows/verify-release-artifacts.yml
  README.md
  docs/developer/CI_CD.md
  docs/developer/LINUX_BUILD.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/RELEASING.md
  docs/developer/TESTING.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/security/XSS_PREVENTION.md
  scripts/check-agent-skills.mjs
  scripts/check-agent-skills.test.mjs
  scripts/check-macos-readiness.mjs
  scripts/check-macos-readiness.test.mjs
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  skills/README.md
  skills/application-form-review/SKILL.md
  skills/application-tracking/SKILL.md
  skills/interview-prep/SKILL.md
  skills/job-posting-risk-review/SKILL.md
  skills/job-search-plan/SKILL.md
  skills/networking-outreach/SKILL.md
  skills/offer-pay-review/SKILL.md
  skills/resume-tailoring/SKILL.md
  src/pages/ResumeBuilderPreviewStep.test.tsx
  src/pages/ResumeBuilderPreviewStep.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Harden release supply chain evidence
  .github/workflows/release.yml
  .github/workflows/verify-release-artifacts.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/harness/verification-matrix.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/references.md
  package.json
  scripts/check-macos-readiness.mjs
  scripts/check-macos-readiness.test.mjs
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  scripts/generate-release-sbom.mjs
  scripts/generate-release-sbom.test.mjs
  scripts/verify-latest-macos-release.mjs
  scripts/verify-latest-macos-release.test.mjs
Due: none

Harden browser import and model downloads
  CHANGELOG.md
  docs/BOOKMARKLET.md
  docs/ML_FEATURE.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/core/ml/README.md
  src-tauri/src/core/ml/model.rs
  src-tauri/src/core/ml/tests.rs
Due: none

Clarify release state and LinkedIn policy
  CHANGELOG.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/releases/README.md
Due: none

Trim macOS WebKit dependency surface
  CHANGELOG.md
  docs/plans/active/status.md
  package-lock.json
  scripts/check-source-boundaries.test.mjs
  scripts/harness/checks/source-boundaries.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

Record follow-up release evidence
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Harden browser import request handling
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/bookmarklet/server/tests.rs
Due: none

Fix Linux package WebKit runtime
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/dependency/tauri-linux-deb.mjs
  src-tauri/tauri.conf.json
Due: none

Limit application resume file size
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/commands/automation/profile_resume.rs
Due: none

Harden URL privacy boundaries
  docs/developer/ADDING_DEEP_LINK_SITES.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/commands/deeplinks.rs
  src-tauri/src/core/db/crud.rs
  src-tauri/src/core/db/tests.rs
  src-tauri/src/core/db/tests/tests/job_edge_case_tests.rs
  src-tauri/src/core/deeplinks/sites.rs
  src-tauri/src/core/job_hash.rs
  src-tauri/src/core/scrapers/url_utils.rs
  src/components/DeepLinkGenerator.test.tsx
  src/components/DeepLinkGenerator.tsx
  src/mocks/handlers/sourceLinksAndImports.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Keep automation browser sandboxed
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/core/automation/browser/manager.rs
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
