Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync deep link mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync job import mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync feedback mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/feedback/DebugInfoPreview.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync resume optimizer mocks
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sync runtime mock handlers
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/InterviewScheduler.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: align salary seniority lookup
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/salary/tests.rs
  src-tauri/src/core/salary/types.rs
  src/pages/Salary.test.tsx
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: remove stale testing guidance
  docs/developer/FRONTEND_TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/tech-debt-tracker.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  tests/e2e/README.md
Due: none

docs: correct Vitest filter guidance
  docs/developer/FRONTEND_TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: sync developer setup guidance
  docs/developer/GETTING_STARTED.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean salary and resume feature docs
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

chore: remove source markdown notes
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/settings/QUICK_REFERENCE.md
  src/components/settings/README.md
  src/hooks/USAGE.md
Due: none

chore: remove unused settings helpers
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/settings/CredentialInput.test.tsx
  src/components/settings/CredentialInput.tsx
  src/components/settings/FilterListInput.tsx
  src/components/settings/SecureCredentialInput.test.tsx
  src/components/settings/SecureCredentialInput.tsx
  src/components/settings/SliderSection.test.tsx
  src/components/settings/SliderSection.tsx
  src/components/settings/ToggleSection.test.tsx
  src/components/settings/ToggleSection.tsx
  src/components/settings/index.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove unused generic hooks
  docs/README.md
  docs/ROADMAP.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/completed/v2.6.0-ux-improvements.md
  docs/releases/v2.6.0.md
  docs/releases/v2.6.3.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/VirtualJobList.test.tsx
  src/hooks/index.ts
  src/hooks/useAsyncOperation.ts
  src/hooks/useCachedDashboardData.ts
  src/hooks/useFetchOnMount.test.ts
  src/hooks/useFetchOnMount.ts
  src/hooks/useFormValidation.test.ts
  src/hooks/useFormValidation.ts
  src/hooks/useMinimumLoadingDuration.ts
  src/hooks/useModal.test.ts
  src/hooks/useModal.ts
  src/hooks/useOptimisticUpdate.test.tsx
  src/hooks/useOptimisticUpdate.ts
  src/hooks/usePagination.test.ts
  src/hooks/usePagination.ts
  src/hooks/useTabs.test.ts
  src/hooks/useTabs.ts
  src/hooks/useVirtualListScroll.ts
  src/utils/cacheStrategies.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: prune redundant playwright dependency
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  package-lock.json
  package.json
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

chore: remove dompurify stub types
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  package-lock.json
  package.json
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

chore: remove components barrel
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AtsLiveScorePanel.tsx
  src/components/InterviewScheduler.tsx
  src/components/LocationHeatmap.tsx
  src/components/MarketAlertCard.tsx
  src/components/MarketSnapshotCard.tsx
  src/components/TrendChart.tsx
  src/components/automation/ApplicationPreview.tsx
  src/components/automation/ApplyButton.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ScreeningAnswerSuggestions.tsx
  src/components/automation/ScreeningAnswersForm.tsx
  src/components/index.ts
  src/components/resume-builder/steps/ContactStep.tsx
  src/components/resume-builder/steps/EducationStep.tsx
  src/components/resume-builder/steps/ExperienceStep.tsx
  src/components/resume-builder/steps/SkillsStep.tsx
  src/components/resume-builder/steps/SummaryStep.tsx
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/DashboardUI/DashboardHeader.tsx
  src/pages/DashboardUI/DashboardStats.tsx
  src/pages/DashboardUI/QuickActions.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove local ui barrels
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/automation/index.ts
  src/components/feedback/index.ts
  src/pages/ApplicationProfile.tsx
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/index.ts
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix notification threshold fallback
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/NotificationPreferences.test.tsx
  src/utils/notificationPreferences.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove legacy rust stubs
  docs/developer/ERROR_HANDLING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/resume/export.rs
  src-tauri/src/core/scrapers/mod.rs
Due: none

test: reduce e2e wait bloat
  docs/developer/FRONTEND_TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  tests/e2e/README.md
  tests/e2e/playwright/page-objects/ApplicationsPage.ts
  tests/e2e/playwright/page-objects/BasePage.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
  tests/e2e/playwright/test-helpers.ts
Due: eslint --fix

fix scraper retry logging
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/scrapers/greenhouse.rs
  src-tauri/src/core/scrapers/http_client.rs
Due: none

docs: sync scraper reliability claims
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: sync sqlite configuration
  docs/developer/sqlite-configuration.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean scoring feature docs
  docs/features/remote-preference-scoring.md
  docs/features/synonym-matching.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

chore: clean sqlite log markers
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/db/connection.rs
  src-tauri/src/core/db/integrity/diagnostics.rs
Due: none

docs: sync cache usage guidance
  docs/CACHE_USAGE.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean webhook security guide
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/WEBHOOK_SECURITY.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean command execution guide
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/COMMAND_EXECUTION.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: harden webhook URL validation
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/URL_VALIDATION.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/notify/slack.rs
  src-tauri/src/core/notify/teams.rs
  src/utils/formValidation.test.ts
  src/utils/formValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: keep keyring migration retry-safe
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/KEYRING.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/main.rs
Due: none

chore: clean database integrity logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/db/integrity/backups.rs
  src-tauri/src/core/db/integrity/mod.rs
Due: none

docs: clean testing guidance markers
  docs/developer/FRONTEND_TESTING.md
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean architecture guidance markers
  docs/developer/ARCHITECTURE.md
  docs/developer/ERROR_HANDLING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean testing maintenance guides
  docs/developer/INTEGRATION_TESTING.md
  docs/developer/MUTATION_TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: sync XSS security guidance
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/README.md
  docs/security/XSS_PREVENTION.md
  docs/security/dompurify-test-examples.js
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean developer maintenance drift
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/RELEASING.md
  docs/developer/WHY_TAURI.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean feature metadata drift
  docs/features/ghost-detection.md
  docs/features/notifications.md
  docs/features/one-click-apply.md
  docs/features/resume-builder.md
  docs/features/user-data-management.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: remove feature status metadata
  docs/features/application-tracking.md
  docs/features/market-intelligence.md
  docs/features/remote-preference-scoring.md
  docs/features/resume-matcher.md
  docs/features/salary-ai.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/features/smart-scoring.md
  docs/features/synonym-matching.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean top-level stale docs
  docs/BOOKMARKLET.md
  docs/ML_FEATURE.md
  docs/developer/ARCHITECTURE.md
  docs/developer/FRONTEND_TESTING.md
  docs/developer/TESTING.md
  docs/intel-mac-support.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

docs: clean roadmap version drift
  docs/README.md
  docs/ROADMAP.md
  docs/developer/sqlite-configuration.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-harness.mjs
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
