Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Port Fortune 100 source adapter contracts
  docs/features/job-sources.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/scrapers/mod.rs
  src-tauri/src/core/scrapers/source_adapters/contract.rs
  src-tauri/src/core/scrapers/source_adapters/mod.rs
  src-tauri/src/core/scrapers/source_adapters/phenom_widget.rs
  src-tauri/src/core/scrapers/source_adapters/workday_cxs.rs
  src/shared/jobSourceDiscoveryPlatformEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/jobSourceOfficialApiCorpus.test.ts
  src/shared/jobSourceOfficialApiCorpus.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify release handoff blockers
  README.md
  docs/harness/resume-corpus-verification-v2.9.0.md
Due: none

Fix release readiness handoff copy
  README.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-release-readiness.mjs
Due: none

Update final gate handoff status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Quiet expected unsafe link blocks
  src/components/JobCard.tsx
  src/pages/Dashboard.tsx
  tests/e2e/playwright/job-search-filtering.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add Radancy source adapter contract
  docs/features/job-sources.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/scrapers/source_adapters/mod.rs
  src-tauri/src/core/scrapers/source_adapters/radancy_talentbrew.rs
Due: none

Record final gate status after adapter slice
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Add capabilities reference
  README.md
  docs/README.md
  docs/features/capabilities.md
Due: none

Record capability verification
  docs/harness/capabilities-verification-v2.9.0.md
  docs/images/hiring-trends.png
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Align release verification status
  docs/harness/capabilities-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Record prepublish package checks
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Align active release handoff status
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/index.json
Due: none

Record release publication preflight state
  docs/harness/release-risk-register-v2.9.0.md
Due: none

Record 2026-06-20 validation evidence
  docs/harness/capabilities-verification-v2.9.0.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/resume-corpus-verification-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Refresh search-link user guide
  docs/user/DEEP_LINKS.md
Due: none

Clarify outside AI feature gate copy
  src-tauri/src/commands/external_ai.rs
Due: none

Record latest release validation handoff
  docs/harness/capabilities-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Stabilize dashboard dropdown e2e selection
  tests/e2e/playwright/page-objects/DashboardPage.ts
Due: eslint --fix

Refresh release dependency pins
  docs/developer/TESTING.md
  package-lock.json
Due: none

Refresh release documentation
  README.md
  docs/README.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/features/capabilities.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/releases/README.md
  docs/releases/v2.9.0.md
  docs/user/QUICK_START.md
  package-lock.json
  package.json
  scripts/check-release-readiness.mjs
  scripts/tests/check-release-readiness.test.mjs
Due: none

Promote release mechanics
  README.md
  docs/README.md
  docs/features/capabilities.md
  docs/releases/v2.9.0.md
Due: none

Finalize v2.9.0 changelog
  CHANGELOG.md
Due: none

Fix release SBOM attestation coverage
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/check-macos-readiness.mjs
  scripts/check-release-readiness.mjs
  scripts/check-security-sensors.mjs
  scripts/tests/check-macos-readiness.test.mjs
  scripts/tests/check-security-sensors.test.mjs
Due: none

Plan ambitious v3 roadmap
  docs/README.md
  docs/ROADMAP.md
  docs/plans/README.md
  docs/plans/v3/README.md
  docs/plans/v3/architecture-bets.md
  docs/plans/v3/commercial-superiority-bar.md
  docs/plans/v3/compatibility-and-migration.md
  docs/plans/v3/downloadable-agents-and-skills.md
  docs/plans/v3/editions-and-packaging.md
  docs/plans/v3/evaluation-and-release-bar.md
  docs/plans/v3/final-amplification-review.md
  docs/plans/v3/frontier-concepts.md
  docs/plans/v3/idea-catalog.md
  docs/plans/v3/idea-index.md
  docs/plans/v3/local-intelligence-and-agents.md
  docs/plans/v3/moonshots-and-refactors.md
  docs/plans/v3/native-os-integration.md
  docs/plans/v3/north-star.md
  docs/plans/v3/regional-readiness-framework.md
  docs/plans/v3/research-agenda.md
  docs/plans/v3/security-with-less-friction.md
  docs/plans/v3/source-and-browser-strategy.md
  docs/plans/v3/unexplored-frontiers.md
Due: none

Add v3 job seeker platform research
  docs/plans/active/status.md
  docs/plans/index.json
  docs/plans/v3/README.md
  docs/plans/v3/commercial-superiority-bar.md
  docs/plans/v3/foundation-exec-plan.md
  docs/plans/v3/idea-catalog.md
  docs/plans/v3/idea-index.md
  docs/plans/v3/job-seeker-platform-research.md
  docs/plans/v3/moonshots-and-refactors.md
  docs/plans/v3/north-star.md
Due: none

Add v3 employer intelligence plan
  docs/plans/v3/README.md
  docs/plans/v3/commercial-superiority-bar.md
  docs/plans/v3/employer-intelligence.md
  docs/plans/v3/idea-index.md
  docs/plans/v3/job-seeker-platform-research.md
  docs/plans/v3/research-agenda.md
Due: none

Start v2.9.1 maintenance plan
  docs/README.md
  docs/ROADMAP.md
  docs/harness/manifest.json
  docs/harness/release-risk-register-v2.9.0.md
  docs/plans/README.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.1-maintenance-and-repo-cleanup.md
  docs/plans/completed/v2.9.0-completion-and-full-feature-roadmap.md
  docs/plans/index.json
Due: none

Fix harness session test count
  docs/harness/capabilities-verification-v2.9.0.md
  docs/harness/resume-corpus-verification-v2.9.0.md
  docs/plans/active/v2.9.1-maintenance-and-repo-cleanup.md
  scripts/harness-session.mjs
  scripts/tests/harness-session.test.mjs
Due: none

Clean stale release routing docs
  docs/developer/RELEASING.md
  docs/plans/active/v2.9.1-maintenance-and-repo-cleanup.md
Due: none

Split changelog archive
  CHANGELOG.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.1-maintenance-and-repo-cleanup.md
  docs/plans/index.json
  docs/releases/README.md
  docs/releases/changelog-v1.md
  docs/releases/changelog-v2.0-to-v2.4.md
  docs/releases/changelog-v2.5.md
  docs/releases/changelog-v2.6.md
  validation/file_size_contract.json
Due: none

Refresh stable dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

Split Rust inline tests
  src-tauri/src/core/automation/ats_detector.rs
  src-tauri/src/core/automation/ats_detector/tests.rs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/automation/form_filler/tests.rs
  src-tauri/src/core/automation/mod.rs
  src-tauri/src/core/automation/profile.rs
  src-tauri/src/core/automation/profile/tests.rs
  src-tauri/src/core/automation/tests.rs
  src-tauri/src/core/config/types.rs
  src-tauri/src/core/config/types/tests.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/credentials/tests.rs
  src-tauri/src/core/resume/builder.rs
  src-tauri/src/core/resume/builder/tests.rs
  src-tauri/src/core/resume/export.rs
  src-tauri/src/core/resume/export/tests.rs
  src-tauri/src/core/resume/json_resume.rs
  src-tauri/src/core/resume/json_resume/tests.rs
  src-tauri/src/core/resume/parser.rs
  src-tauri/src/core/resume/parser/tests.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/core/scheduler/workers/scrapers/tests.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/dice/tests.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/glassdoor/tests.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/http_client/tests.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/src/core/scrapers/usajobs/tests.rs
  validation/file_size_contract.json
Due: none

Split small oversized modules
  src-tauri/src/core/ghost/mod.rs
  src-tauri/src/core/ghost/patterns.rs
  src-tauri/src/core/resume/matcher.rs
  src-tauri/src/core/resume/matcher/gap_analysis.rs
  src/components/CoverLetterTemplates.tsx
  src/components/coverLetterTemplateModel.ts
  src/pages/Resume.tsx
  src/pages/ResumeSkillStrengthMix.tsx
  src/pages/dashboardJobLearning.ts
  src/pages/hooks/useDashboardJobOps.ts
  validation/file_size_contract.json
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split settings configuration modules
  src/pages/Settings.tsx
  src/pages/SettingsConfig.ts
  src/pages/SettingsCredentials.ts
  src/pages/SettingsTabs.tsx
  src/pages/useSettingsSearchPreferenceInputs.ts
  validation/file_size_contract.json
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split settings alert and source sections
  src/pages/SettingsEmailAlertsSection.tsx
  src/pages/SettingsJobSourcesSection.tsx
  src/pages/SettingsNotificationsSection.tsx
  src/pages/SettingsUsaJobsSourceSection.tsx
  validation/file_size_contract.json
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split analytics and market helpers
  src/components/AnalyticsPanel.tsx
  src/components/analyticsPanelComponents.tsx
  src/pages/Market.tsx
  src/pages/MarketComponents.tsx
  validation/file_size_contract.json
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split automation scheduler UI sections
  src/components/InterviewScheduler.tsx
  src/components/InterviewSchedulerLists.tsx
  src/components/automation/ProfileForm.tsx
  src/components/automation/ProfileFormSections.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split scraper health source table
  src/components/ScraperHealthDashboard.tsx
  src/components/ScraperHealthSourceTable.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split job card icon components
  src/components/JobCard.tsx
  src/components/JobCardIcons.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Split salary page model helpers
  src/pages/Salary.tsx
  src/pages/SalaryComponents.tsx
  src/pages/SalaryModel.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
