Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

Fix modal Escape handling
  src/components/Modal.test.tsx
  src/components/Modal.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Update Cargo lock dependencies
  src-tauri/Cargo.lock
Due: none

Limit visible toast stack
  src/contexts/ToastContext.test.tsx
  src/contexts/ToastContext.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Update v2.9 verification ledger
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Fix tooltip Escape handling
  src/components/Tooltip.test.tsx
  src/components/Tooltip.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix Settings state regressions
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/NotificationPreferences.tsx
  src/mocks/data.ts
  src/pages/Settings.toast-regression.test.tsx
  src/pages/Settings.tsx
  src/pages/SettingsPostingRiskSection.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Refresh DOMPurify pin
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/status.md
  package-lock.json
  package.json
Due: none

Fix Applications modal surfaces
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/CoverLetterTemplates.tsx
  src/components/Modal.test.tsx
  src/components/Modal.tsx
  src/contexts/ToastContext.test.tsx
  src/contexts/ToastContext.tsx
  src/pages/Settings.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record Resumes UI verification
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Record Salary UI verification
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Fix Hiring Trends location tiles
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/LocationHeatmap.test.tsx
  src/components/LocationHeatmap.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify screening answer edit buttons
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/automation/ScreeningAnswersForm.contract.test.tsx
  src/components/automation/ScreeningAnswersForm.test.tsx
  src/components/automation/ScreeningAnswersForm.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Enforce dependency pin release gate
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/developer/CI_CD.md
  docs/developer/RELEASING.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  package.json
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/check-harness.mjs
Due: none

Fix Resume Builder row actions
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/resume-builder/steps/EducationStep.tsx
  src/components/resume-builder/steps/ExperienceStep.tsx
  src/components/resume-builder/steps/SkillsStep.tsx
  tests/e2e/playwright/resume-builder.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix Resume Match mobile surface
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
  src/pages/ResumeOptimizerResultsPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Verify forced UI states
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src/components/DashboardWidgets.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/pages/ResumeBuilder.test.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Verify setup and keyboard UI paths
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  tests/e2e/playwright/setup-wizard.spec.ts
Due: eslint --fix

Enforce stable lockfile dependency policy
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
Due: none

Add encrypted secret vault primitive
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/security/KEYRING.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/00000000000007_secret_vault.sql
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/credentials/vault.rs
  src-tauri/tests/database_integration_test.rs
Due: none

Wire runtime credential vault
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/security/KEYRING.md
  scripts/check-security-docs.test.mjs
  scripts/harness/checks/security-docs.mjs
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/credentials.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/jobs.rs
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tests.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/core/credentials/service.rs
  src-tauri/src/core/credentials/vault.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/notify/mod.rs
  src-tauri/src/core/scheduler/mod.rs
  src-tauri/src/core/scheduler/pipeline.rs
  src-tauri/src/core/scheduler/types.rs
  src-tauri/src/core/scheduler/workers/persistence.rs
  src-tauri/src/core/scheduler/workers/scrapers.rs
  src-tauri/src/main.rs
  src-tauri/tests/api_contract_test.rs
  src-tauri/tests/credential_test.rs
  src-tauri/tests/scheduler_integration_test.rs
  src-tauri/tests/scraper_integration_test.rs
  src-tauri/tests/scraping_pipeline_integration.rs
Due: none

Clarify dependency freshness gate
  README.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-dependency-pins.mjs
Due: none

Add workflow action pin gate
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/docs-harness.yml
  .github/workflows/release.yml
  .github/workflows/verify-release-artifacts.yml
  README.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  package.json
  scripts/check-action-pins.mjs
  scripts/check-action-pins.test.mjs
Due: none

Add networking outreach skill
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-agent-skills.mjs
  scripts/check-agent-skills.test.mjs
  skills/README.md
  skills/networking-outreach/SKILL.md
  skills/networking-outreach/assets/outreach-note-template.md
Due: none

Fix symbol skill extraction
  src-tauri/src/core/resume/skills.rs
  src-tauri/src/core/resume/skills_tests.rs
Due: none

Enforce exact runtime dependency pins
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/docs-harness.yml
  .github/workflows/release.yml
  .github/workflows/verify-release-artifacts.yml
  .nvmrc
  README.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/LINUX_BUILD.md
  docs/developer/MUTATION_TESTING.md
  docs/developer/TESTING.md
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/harness/five-tuple-scorecard-2026-06-01.md
  docs/harness/walkinglabs-lecture-02-evaluation.md
  docs/security/README.md
  rust-toolchain.toml
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/check-repo-artifacts.test.mjs
  scripts/doctor.mjs
  scripts/doctor.test.mjs
  scripts/harness-score.mjs
  scripts/harness-score.test.mjs
Due: none

Warn on low starting pay ranges
  src/components/JobCard.test.tsx
  src/components/jobCardGuidance.test.ts
  src/components/jobCardGuidance.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Dedupe setup source query terms
  src/pages/setupWizardPreferences.test.ts
  src/pages/setupWizardPreferences.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Update secret vault security docs
  docs/security/README.md
  docs/security/WEBHOOK_SECURITY.md
Due: none

Add local resume parser smoke test
  src-tauri/src/core/resume/parser.rs
Due: none

Strip nested private import URL data
  src-tauri/src/core/url_security.rs
  src/mocks/handlers/coreCommands.test.ts
  src/mocks/handlers/sourceLinksAndImports.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Align credential storage wording
  docs/architecture/privacy-first-ai-gateway.md
  docs/developer/ARCHITECTURE.md
  docs/developer/MACOS_DEVELOPMENT.md
  scripts/check-repo-bloat-frontend-security.test.mjs
  scripts/harness/checks/privacy-logging.mjs
  scripts/harness/checks/privacy-logging/credentials-feedback-notifications.mjs
  src-tauri/src/core/config/tests/discord_tests.rs
  src-tauri/src/core/config/tests/email_tests.rs
  src-tauri/src/core/config/tests/preference_validation_tests.rs
  src-tauri/src/core/config/tests/teams_tests.rs
  src-tauri/src/core/config/tests/telegram_tests.rs
  src-tauri/src/core/config/types.rs
  src/pages/SettingsConfig.ts
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Pin npm package manager
  docs/harness/verification-matrix.md
  docs/plans/active/status.md
  package.json
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
Due: none

Sync dependency plan wording
  docs/plans/active/current-work.md
Due: none

Recognize remote workspace requirements
  src-tauri/src/core/resume/ats_analyzer/hard_constraints.rs
  src-tauri/src/core/resume/ats_analyzer/term_expansion.rs
  src-tauri/src/core/resume/ats_analyzer_tests/work_arrangement_constraints.rs
  src/mocks/handlers/resumeAnalysisAvailabilityConstraints.test.ts
  src/mocks/handlers/resumeKeywordMatching.ts
  src/mocks/handlers/resumeKeywordSearchTerms.ts
  src/mocks/handlers/resumeRequirementReview.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Document remote workspace requirement review
  docs/features/resume-matcher.md
  docs/research/resume-alignment-scoring.md
Due: none

Record private resume parser smoke evidence
  docs/plans/active/status.md
Due: none

Reword application platform fallback copy
  scripts/check-repo-bloat-product-copy.test.mjs
  scripts/harness/checks/product-copy/technical-first-fallback.mjs
  src/components/automation/ApplyButton.test.tsx
  src/components/automation/ApplyButton.tsx
  src/mocks/handlers/atsPlatform.test.ts
  src/mocks/handlers/atsPlatform.ts
  tests/e2e/playwright/screenshots.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Soften posting review indicator copy
  src/components/GhostIndicator.test.tsx
  src/components/GhostIndicator.tsx
  src/mocks/handlers/jobTrackingCommands.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record skills reference validation
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Enforce local npm tool execution
  .github/workflows/build-linux.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  docs/developer/CI_CD.md
  docs/developer/CONTRIBUTING.md
  docs/developer/GETTING_STARTED.md
  docs/developer/LINUX_BUILD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/developer/TESTING.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  scripts/check-dependency-pins.mjs
  scripts/check-dependency-pins.test.mjs
  scripts/doctor.mjs
  scripts/setup-docs-linting.sh
  scripts/update-doc-screenshots.mjs
  tests/e2e/README.md
Due: none
