Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain resume scoring docs
  docs/features/resume-builder.md
  docs/features/smart-scoring.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain ghost detection docs
  docs/features/ghost-detection.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use browser-opened search link wording
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/user/DEEP_LINKS.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain hiring trend wording
  docs/features/market-intelligence.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Market.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain source contact metadata
  PRIVACY.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use review-first support privacy copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/feedback/DebugInfoPreview.test.tsx
  src/components/feedback/DebugInfoPreview.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain pay-level guidance
  docs/features/salary-ai.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Salary.test.tsx
  src/pages/Salary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain outside AI guardrails
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/services/aiGateway.test.ts
  src/services/aiGateway.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain email sending labels
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use scheduled USAJobs check wording
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify source network disclosures
  README.md
  docs/features/credentials-security.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use hiring system front-door wording
  README.md
  RESPONSIBLE_AI.md
  ROADMAP.md
  docs/harness/manifest.json
  docs/harness/readme-information-design.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain resume matcher screening wording
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain notification setup docs
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  docs/user/QUICK_START.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain notification troubleshooting docs
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain source status docs
  docs/features/application-tracking.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Use plain privacy setup copy
  .github/PULL_REQUEST_TEMPLATE.md
  PRIVACY.md
  README.md
  RESPONSIBLE_AI.md
  docs/features/application-tracking.md
  docs/features/credentials-security.md
  docs/features/market-intelligence.md
  docs/features/notifications.md
  docs/features/resume-matcher.md
  docs/features/user-data-management.md
  docs/harness/manifest.json
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorLogPanel.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sync smoke E2E copy selectors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/page-objects/OneClickApplyPage.ts
  tests/e2e/playwright/page-objects/SettingsPage.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: eslint --fix

Stabilize full E2E budget
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  package.json
  tests/e2e/README.md
  tests/e2e/playwright/application-tracking.spec.ts
  tests/e2e/playwright/job-search-filtering.spec.ts
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/page-objects/ApplicationsPage.ts
  tests/e2e/playwright/page-objects/ResumePage.ts
  tests/e2e/playwright/resume-builder.spec.ts
  tests/e2e/playwright/resume-upload-matching.spec.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: eslint --fix

Sync error log support report test
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/components/ErrorLogPanel.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record backend verification evidence
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Record security verification evidence
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
Due: none

Tighten settings support copy
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/plans/tech-debt-tracker.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify support-only copy
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Harden detailed report export privacy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-privacy-logging.test.mjs
  scripts/harness/checks/privacy-logging.mjs
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify feedback support sharing
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/feedback/SubmitOptions.test.tsx
  src/components/feedback/SubmitOptions.tsx
  src/components/feedback/SuccessScreen.test.tsx
  src/components/feedback/SuccessScreen.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify support report labels
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify detailed report help tooltip
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify user help sharing docs
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/user/DEEP_LINKS.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Clarify support help surfaces
  README.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten zero-technical docs copy
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/scraper_issue.yml
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  docs/BOOKMARKLET.md
  docs/features/credentials-security.md
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/user/DEEP_LINKS.md
  docs/user/QUICK_START.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Tighten frontend help copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/components/ComponentErrorBoundary.tsx
  src/components/ErrorBoundary.tsx
  src/components/ModalErrorBoundary.tsx
  src/components/PageErrorBoundary.test.tsx
  src/components/PageErrorBoundary.tsx
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
  src/components/feedback/SubmitOptions.test.tsx
  src/components/feedback/SubmitOptions.tsx
  src/components/feedback/SuccessScreen.test.tsx
  src/components/feedback/SuccessScreen.tsx
  src/pages/ResumeBuilder.tsx
  src/pages/ResumeOptimizer.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify app problem detail copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ComponentErrorBoundary.tsx
  src/components/ModalErrorBoundary.tsx
  src/utils/api.test.ts
  src/utils/api.ts
  src/utils/errorMessages.test.ts
  src/utils/errorMessages.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten source result copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/AsyncButton.test.tsx
  src/components/AsyncButton.tsx
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify startup source labels
  .github/ISSUE_TEMPLATE/scraper_issue.yml
  README.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/mocks/handlers.ts
  src/utils/sourceLabels.test.ts
  src/utils/sourceLabels.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Clarify email service setup
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  docs/user/QUICK_START.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Simplify saved secrets guide
  docs/README.md
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/check-security-docs.test.mjs
  scripts/harness/checks/product-copy.mjs
  scripts/harness/checks/security-docs.mjs
Due: none

Remove maintainer notes from notification guide
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
Due: none

Update credential architecture docs
  docs/developer/ARCHITECTURE.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/harness/checks/docs-drift.mjs
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
