Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

Use fit labels for factor details
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
  src/components/ScoreDisplay.test.tsx
  src/components/ScoreDisplay.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use evidence labels in resume review
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
  src/utils/scoreUtils.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Protect pay floor empty-state copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Dashboard.test.tsx
  src/pages/DashboardUI/noJobsEmptyStateCopy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use protective interview outcome copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/InterviewScheduler.test.tsx
  src/components/InterviewScheduler.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten browser import recovery copy
  docs/BOOKMARKLET.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Resolve frontend alias boundaries
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-frontend-boundaries.mjs
  scripts/check-frontend-boundaries.test.mjs
Due: none

Expand test quality harness checks
  docs/harness/deep-harness-audit-2026-05-31.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/check-test-quality.mjs
  scripts/check-test-quality.test.mjs
Due: none

Use protective application review pace
  docs/developer/ARCHITECTURE.md
  docs/features/one-click-apply.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/check-repo-bloat.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/automation/ProfileForm.test.tsx
  src/components/automation/ProfileForm.tsx
  src/pages/ApplicationProfile.test.tsx
  src/pages/ApplicationProfile.tsx
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/page-objects/OneClickApplyPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use plain application tracker subtitle
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Applications.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Tighten safe support report privacy copy
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
  src/hooks/useFeedback.ts
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Harden external AI payload gateway
  docs/architecture/privacy-first-ai-gateway.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/services/aiGateway.test.ts
  src/services/aiGateway.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Minimize application profile IPC response
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src-tauri/src/commands/automation.rs
  src/components/automation/ProfileForm.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Use review-first support report copy
  docs/features/notifications.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Hash API cache argument keys
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src/utils/api.test.ts
  src/utils/api.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Prioritize resume assistance
  README.md
  ROADMAP.md
  docs/harness/feature-privacy-labels.json
  docs/plans/active/guided-job-search-intake.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  src/utils/scoreUtils.test.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Group resume review gaps by importance
  docs/features/resume-builder.md
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  src-tauri/src/core/resume/ats_analyzer.rs
  src-tauri/src/core/resume/mod.rs
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Fix resume job-word section parsing
  docs/features/resume-builder.md
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/research-backed-product-improvements.md
  docs/plans/active/status.md
  src-tauri/src/core/resume/ats_analyzer.rs
Due: none

Fix macOS DMG packaging
  .github/workflows/release.yml
  README.md
  docs/ROADMAP.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  package.json
  scripts/build-macos-dmg.mjs
  scripts/build-macos-dmg.test.mjs
Due: none

Fix macOS platform test isolation
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src-tauri/src/platforms/macos/mod.rs
Due: none

Group live resume review gaps
  docs/features/resume-builder.md
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  src-tauri/src/core/resume/ats_analyzer.rs
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Record universal macOS build proof
  docs/developer/GETTING_STARTED.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Record macOS notarization blocker
  docs/developer/MACOS_DEVELOPMENT.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Add macOS package verifier
  .github/workflows/release.yml
  README.md
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  package.json
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
Due: none

Prepare macOS notarized release flow
  .github/workflows/release.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/build-macos-dmg.mjs
  scripts/build-macos-dmg.test.mjs
Due: none

Clarify macOS release readiness
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
Due: none

Record macOS runtime smoke evidence
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Sync platform data path docs
  docs/developer/GETTING_STARTED.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-docs-drift.test.mjs
  scripts/harness/checks/docs-drift.mjs
  src-tauri/src/platforms/macos/mod.rs
Due: none

Make resume suggestions review first
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-product-copy.test.mjs
  scripts/harness/checks/product-copy.mjs
  src-tauri/src/core/resume/ats_analyzer.rs
  src/mocks/handlers.ts
  src/pages/ResumeOptimizer.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Harden macOS release verification
  .github/workflows/release.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/build-macos-dmg.mjs
  scripts/build-macos-dmg.test.mjs
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
Due: none

Add support report smoke coverage
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  tests/e2e/README.md
  tests/e2e/playwright/page-objects/SettingsPage.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: eslint --fix

Record macOS release artifact gap
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Add public macOS release verifier
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  package.json
  scripts/verify-latest-macos-release.mjs
  scripts/verify-latest-macos-release.test.mjs
Due: none

Add published macOS artifact verifier
  .github/workflows/verify-release-artifacts.yml
  docs/developer/CI_CD.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
Due: none

Verify installed macOS app launch
  .github/workflows/release.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  scripts/verify-latest-macos-release.mjs
  scripts/verify-latest-macos-release.test.mjs
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
Due: none

Check macOS data initialization in smoke
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
Due: none

Record macOS readiness checks
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none

Verify macOS bundle metadata
  .github/workflows/release.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  scripts/verify-latest-macos-release.mjs
  scripts/verify-latest-macos-release.test.mjs
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
  src-tauri/icons/icon.icns
Due: none

Require macOS icon resource
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
Due: none

Require macOS 13 release metadata
  .github/workflows/release.yml
  docs/developer/CI_CD.md
  docs/developer/MACOS_DEVELOPMENT.md
  docs/developer/RELEASING.md
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
  scripts/check-security-sensors.mjs
  scripts/check-security-sensors.test.mjs
  scripts/verify-latest-macos-release.mjs
  scripts/verify-latest-macos-release.test.mjs
  scripts/verify-macos-package.mjs
  scripts/verify-macos-package.test.mjs
  src-tauri/tauri.conf.json
Due: none

Record macOS signing secret gap
  docs/plans/active/repo-cleanup-handoff.md
  docs/plans/active/status.md
Due: none
