Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

Clarify human-controlled LinkedIn session boundary
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
Due: none

Define user-driven authenticated activity ledger
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/verification-matrix.md
Due: none

Refine LinkedIn user-controlled flow
  docs/BOOKMARKLET.md
  docs/features/credentials-security.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/verification-matrix.md
  docs/plans/active/status.md
  docs/research/job-site-data-sources.md
  src-tauri/src/commands/linkedin_auth.rs
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scheduler/tests/scraper_cycle_tests.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src/components/BookmarkletGenerator.test.tsx
  src/components/DeepLinkGenerator.test.tsx
  src/components/JobImportModal.test.tsx
  src/pages/Settings.load.test.tsx
  src/pages/SettingsJobSourcesSection.tsx
  src/shared/jobSourceDiscoveryModel.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/restrictedSourceTaxonomy.test.ts
  src/shared/restrictedSourceTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Document LinkedIn workbench privacy model
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/verification-matrix.md
Due: none

Add LinkedIn Workbench ledger
  README.md
  docs/ROADMAP.md
  docs/developer/ARCHITECTURE.md
  docs/plans/active/current-work.md
  src-tauri/src/commands/linkedin_workbench.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/linkedin_workbench.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/main.rs
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
  src/pages/Settings.load.test.tsx
  src/pages/SettingsJobSourcesSection.tsx
  src/services/linkedinWorkbench.ts
  src/shared/linkedinWorkbench.test.ts
  src/shared/linkedinWorkbench.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sync LinkedIn Workbench dev mocks
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Verify LinkedIn Workbench E2E flow
  tests/e2e/playwright/settings-save-load.spec.ts
Due: eslint --fix

Update LinkedIn Workbench status evidence
  docs/plans/active/status.md
Due: none

Gate restricted source checks
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  src-tauri/src/commands/health.rs
  src-tauri/src/core/health/smoke_tests.rs
  src/components/ScraperHealthDashboard.sourceChecks.test.tsx
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Sanitize LinkedIn Workbench notes
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  src-tauri/src/core/linkedin_workbench.rs
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/shared/linkedinWorkbench.test.ts
  src/shared/linkedinWorkbench.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add Dashboard LinkedIn Workbench
  README.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/status.md
  src/pages/Dashboard.tsx
  src/pages/DashboardUI/QuickActions.test.tsx
  src/pages/DashboardUI/QuickActions.tsx
  tests/e2e/playwright/job-search-filtering.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Prefill Workbench from pasted text
  docs/features/scrapers.md
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Align LinkedIn source metadata
  docs/security/KEYRING.md
  src-tauri/migrations/00000000000000_initial_schema.sql
  src-tauri/migrations/00000000000009_disable_linkedin_cookie_source_metadata.sql
  src-tauri/src/core/health/tests.rs
  src-tauri/src/core/import/README.md
Due: none

Lock source verification release blockers
  README.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/index.json
Due: none

Expand job source discovery taxonomy
  docs/harness/source-debug-verification-v2.9.0.md
  docs/references.md
  docs/research/job-site-data-sources.md
  src/shared/jobSourceDiscoveryBoardsEntries.ts
  src/shared/jobSourceDiscoveryPlatformEntries.ts
  src/shared/jobSourceDiscoverySectorEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
  src/shared/restrictedSourceTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Verify source debug release paths
  docs/harness/source-debug-verification-v2.9.0.md
  src-tauri/tests/live_scraper_test.rs
Due: none

Record Scrapling source verification
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/research/job-site-data-sources.md
Due: none

Record LinkedIn manual source proof
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
Due: none

Enable visible LinkedIn job capture
  AGENTS.md
  docs/BOOKMARKLET.md
  docs/features/scrapers.md
  docs/harness/README.md
  docs/harness/change-contract.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/harness/verification-matrix.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/bookmarklet/server/tests.rs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/components/BrowserImportButtonScript.test.ts
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Document release completion roadmap
  docs/ROADMAP.md
  docs/plans/README.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/plans/index.json
Due: none

Expand ATS source recognition
  docs/harness/change-contract.md
  docs/harness/manifest.json
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  package-lock.json
  package.json
  src-tauri/src/commands/automation/tests.rs
  src-tauri/src/core/automation/ats_detector.rs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/automation/form_filler/selectors.rs
  src-tauri/src/core/automation/mod.rs
  src/components/automation/ApplyButton.badge.test.tsx
  src/components/automation/ApplyButton.tsx
  src/components/automation/applicationFormLabels.ts
  src/mocks/handlers/atsPlatform.test.ts
  src/mocks/handlers/atsPlatform.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Expand Workbench activity ledger
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/harness/release-risk-register-v2.9.0.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/core/ats/tracker.rs
  src-tauri/src/core/linkedin_workbench.rs
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/shared/linkedinWorkbench.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add application search review
  docs/features/application-tracking.md
  docs/harness/ui-manual-verification-v2.9.0.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/src/core/ats/tests.rs
  src-tauri/src/core/ats/tracker.rs
  src/pages/Applications.tsx
  src/pages/ApplicationsReviewPanel.test.tsx
  src/pages/ApplicationsReviewPanel.tsx
  src/pages/applicationsModel.test.ts
  src/pages/applicationsModel.ts
  tests/e2e/playwright/application-tracking.spec.ts
  tests/e2e/playwright/page-objects/ApplicationsPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Refresh release gate evidence
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  src-tauri/Cargo.lock
  tests/e2e/playwright/page-objects/JobDetailPage.ts
Due: eslint --fix

Add Settings local data backup
  docs/features/user-data-management.md
  docs/plans/active/current-work.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/plans/index.json
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
  src/pages/SettingsSupportSections.tsx
  src/pages/settingsLocalDataBackup.test.ts
  src/pages/settingsLocalDataBackup.ts
  src/pages/useSettingsLocalDataBackup.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add Workbench local learning
  docs/features/scrapers.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
  src/components/LinkedInWorkbenchLearning.tsx
  src/mocks/handlers.ts
  src/mocks/handlers/coreCommands.test.ts
  src/mocks/handlers/userDataCommands.ts
  src/shared/browserAssistLearning.test.ts
  src/shared/browserAssistLearning.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Document manual update path
  README.md
  docs/README.md
  docs/developer/RELEASING.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  docs/user/QUICK_START.md
  docs/user/UPDATES.md
Due: none

Add local fit feedback scoring
  docs/features/smart-scoring.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/components/JobFitFeedback.tsx
  src/shared/jobFeedbackScoring.test.ts
  src/shared/jobFeedbackScoring.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add regional pay transparency cues
  docs/features/salary-ai.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/shared/payTransparencyRules.test.ts
  src/shared/payTransparencyRules.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Share pay floor benchmark guidance
  docs/features/salary-ai.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/pages/Salary.tsx
  src/shared/payFloorBenchmarkGuidance.test.ts
  src/shared/payFloorBenchmarkGuidance.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Close unavailable external AI release path
  docs/architecture/privacy-first-ai-gateway.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Prove source discovery coverage
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/shared/jobSourceDiscoveryPlatformEntries.ts
  src/shared/jobSourceDiscoveryTaxonomy.test.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add browser import review queue
  README.md
  docs/BOOKMARKLET.md
  docs/ROADMAP.md
  docs/harness/source-debug-verification-v2.9.0.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src-tauri/src/commands/bookmarklet.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/bookmarklet/mod.rs
  src-tauri/src/core/bookmarklet/pending.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/bookmarklet/server/tests.rs
  src-tauri/src/main.rs
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/components/BrowserImportButtonScript.test.ts
  src/mocks/handlers.ts
  src/mocks/handlers/settingsSupportCommands.ts
  src/mocks/handlers/types.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Update active status for import queue
  docs/plans/active/status.md
Due: none

Complete local interest learning
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/AnalyticsPanel.test.tsx
  src/components/BookmarkletGenerator.test.tsx
  src/components/BookmarkletGenerator.tsx
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/components/LinkedInWorkbench.test.tsx
  src/components/LinkedInWorkbench.tsx
  src/components/LinkedInWorkbenchLearning.tsx
  src/pages/hooks/useDashboardJobOps.test.ts
  src/pages/hooks/useDashboardJobOps.ts
  src/pages/hooks/useDashboardSavedSearches.test.ts
  src/pages/hooks/useDashboardSavedSearches.ts
  src/shared/browserAssistLearning.test.ts
  src/shared/browserAssistLearning.ts
  src/test/setup.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add resume role family coverage
  docs/features/resume-matcher.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/pages/ResumeOptimizerResultsPanel.tsx
  src/pages/ResumeRoleFamilyCoverageCard.test.tsx
  src/pages/ResumeRoleFamilyCoverageCard.tsx
  src/shared/resumeRoleFamilyTaxonomy.test.ts
  src/shared/resumeRoleFamilyTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add application answer review checklist
  docs/features/one-click-apply.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/automation/ApplicationFormReviewChecklist.tsx
  src/components/automation/ApplicationPreview.provenance.test.tsx
  src/components/automation/ApplicationPreview.tsx
  src/shared/applicationFormReviewTaxonomy.test.ts
  src/shared/applicationFormReviewTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Add cover letter review checklist
  docs/features/one-click-apply.md
  docs/features/user-data-management.md
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
  src/components/CoverLetterReviewChecklist.test.tsx
  src/components/CoverLetterReviewChecklist.tsx
  src/components/CoverLetterTemplates.tsx
  src/shared/coverLetterReviewTaxonomy.test.ts
  src/shared/coverLetterReviewTaxonomy.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

Close resume assistance roadmap rows
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none

Close job quality roadmap rows
  docs/plans/active/status.md
  docs/plans/active/v2.9.0-completion-and-full-feature-roadmap.md
Due: none
