Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate resume contact before save
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/pages/ResumeBuilder.tsx
  src/utils/resumeContactValidation.test.ts
  src/utils/resumeContactValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize setup command errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/ghost.rs
  src-tauri/src/main.rs
Due: none

fix: sync scraper health coverage
  docs/ROADMAP.md
  docs/features/scraper-health.md
  docs/features/scrapers.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/health.rs
  src-tauri/src/core/health/smoke_tests.rs
  src-tauri/src/core/health/tests.rs
  src/components/ScraperHealthDashboard.test.tsx
  src/components/ScraperHealthDashboard.tsx
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: keep linkedin cookie out of renderer
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/linkedin_auth.rs
Due: none

fix: sanitize test email errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/config.rs
Due: none

fix: sanitize slack webhook errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/config.rs
Due: none

fix: report settings config save failures
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: sync keyring status shapes
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/KEYRING.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

fix: hide resume parser file paths
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/COMMAND_EXECUTION.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/resume/parser.rs
Due: none

fix: hide backup restore paths
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/db/integrity/backups.rs
  src-tauri/src/core/db/integrity/tests.rs
Due: none

fix: sanitize job import URL errors
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/import.rs
  src-tauri/src/core/url_security.rs
Due: none

fix: validate linkedin credential storage
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/security/KEYRING.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/credentials.rs
  src-tauri/src/core/credentials/mod.rs
Due: none

fix: keep stored credentials out of renderer
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/features/credentials-security.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/releases/v2.0.md
  docs/security/KEYRING.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/credentials.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/core/credentials/mod.rs
  src-tauri/src/main.rs
  src/mocks/handlers.ts
  src/pages/Settings.test.tsx
  src/pages/Settings.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: hide feedback save paths
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/completed/beta-feedback-system.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src/components/feedback/FeedbackModal.tsx
  src/components/feedback/SuccessScreen.tsx
  src/hooks/useFeedback.ts
  src/mocks/handlers.test.ts
  src/mocks/handlers.ts
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: hide resume paths from renderer
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/commands/resume.rs
  src/mocks/handlers.ts
  src/pages/Resume.tsx
  src/pages/ResumeBuilder.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: avoid printing credential values
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src-tauri/src/core/credentials/mod.rs
Due: none

fix: sanitize error reporter dev logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate reason payloads
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/GhostIndicator.test.tsx
  src/components/GhostIndicator.tsx
  src/components/ScoreBreakdownModal.test.tsx
  src/components/ScoreBreakdownModal.tsx
  src/components/ScoreDisplay.test.tsx
  src/components/ScoreDisplay.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate storage payloads
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AnalyticsPanel.test.tsx
  src/components/AnalyticsPanel.tsx
  src/components/CompanyResearchPanel.test.tsx
  src/components/CompanyResearchPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate ATS job context
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/AtsLiveScorePanel.test.tsx
  src/components/AtsLiveScorePanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate stored error logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorReporting.test.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: validate resume optimizer JSON
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/ResumeOptimizer.test.tsx
  src/pages/ResumeOptimizer.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: type trend chart data
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/TrendChart.test.tsx
  src/components/TrendChart.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: type browser memory stats
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/vitals.test.ts
  src/utils/vitals.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: remove company research hook suppression
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/CompanyResearchPanel.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

refactor: split context hooks from providers
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/App.tsx
  src/components/CommandPalette.test.tsx
  src/components/CommandPalette.tsx
  src/components/CoverLetterTemplates.tsx
  src/components/ErrorLogPanel.test.tsx
  src/components/ErrorLogPanel.tsx
  src/components/VirtualJobList.tsx
  src/contexts/AnnouncerContext.test.tsx
  src/contexts/AnnouncerContext.tsx
  src/contexts/ErrorReportingContext.test.tsx
  src/contexts/ErrorReportingContext.tsx
  src/contexts/KeyboardShortcutsContext.test.tsx
  src/contexts/KeyboardShortcutsContext.tsx
  src/contexts/UndoContext.test.tsx
  src/contexts/UndoContext.tsx
  src/contexts/UndoIntegration.test.tsx
  src/contexts/announcerContextDef.ts
  src/contexts/errorReportingContextDef.ts
  src/contexts/index.ts
  src/contexts/keyboardShortcutsContextDef.ts
  src/contexts/undoContextDef.ts
  src/hooks/useAnnouncer.ts
  src/hooks/useErrorReporting.ts
  src/hooks/useKeyboardShortcuts.ts
  src/hooks/useUndo.ts
  src/pages/Applications.tsx
  src/pages/hooks/useDashboardJobOps.test.ts
  src/pages/hooks/useDashboardJobOps.ts
  src/pages/hooks/useDashboardSavedSearches.test.ts
  src/pages/hooks/useDashboardSavedSearches.ts
  src/types/keyboardShortcuts.ts
  src/utils/keyboardShortcuts.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize error helper debug logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorHelpers.test.ts
  src/utils/errorHelpers.ts
  src/utils/errorReporting.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize shared frontend error logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/utils/errorUtils.test.ts
  src/utils/errorUtils.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: sanitize direct frontend error logs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/components/BookmarkletGenerator.tsx
  src/components/ComponentErrorBoundary.test.tsx
  src/components/ComponentErrorBoundary.tsx
  src/components/DeepLinkGenerator.tsx
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/components/ModalErrorBoundary.tsx
  src/components/PageErrorBoundary.test.tsx
  src/components/PageErrorBoundary.tsx
  src/hooks/useFeedback.ts
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: reject empty source junk dirs
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
Due: none

test: silence download navigation noise
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  src/components/AnalyticsPanel.test.tsx
  src/components/InterviewScheduler.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: render resume sub-scores correctly
  docs/features/resume-matcher.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  src/pages/Resume.test.tsx
  src/pages/Resume.tsx
  src/utils/scoreUtils.test.ts
  src/utils/scoreUtils.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: stabilize Chromium E2E suite
  docs/developer/TESTING.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  scripts/check-repo-bloat.mjs
  scripts/check-repo-bloat.test.mjs
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
  tests/e2e/playwright/page-objects/JobDetailPage.ts
  tests/e2e/playwright/page-objects/ResumeBuilderPage.ts
  tests/e2e/playwright/page-objects/ResumePage.ts
  tests/e2e/playwright/resume-builder.spec.ts
  tests/e2e/playwright/resume-upload-matching.spec.ts
Due: eslint --fix

test: stabilize WebKit E2E shortcuts
  README.md
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  tests/e2e/playwright/job-search-filtering.spec.ts
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/page-objects/BasePage.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
Due: eslint --fix

docs: add cleanup handoff
  docs/plans/README.md
  docs/plans/active/repo-cleanup-handoff.md
Due: none

Update Rust security dependencies
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: none

Document remaining security debt
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/tech-debt-tracker.md
Due: none

Document accepted Dependabot exception
  docs/plans/active/repo-cleanup-and-quality-sweep.md
  docs/plans/tech-debt-tracker.md
Due: none

Path conditions:
  vale --no-exit --glob='*.{ts,tsx}': any of: src/**/*.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
