Repository cboyd0319/JobSentinel: changes, and which lint-staged commands are due for each by the changed paths.
All: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

.lintstagedrc.json:

{
  "!(.*)**/*.md": [
    "markdownlint-cli2 --fix",
    "vale --no-exit"
  ],
  "src/**/*.{ts,tsx}": [
    "vale --no-exit --glob='*.{ts,tsx}'"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ]
}

docs: overhaul main README
  README.md
Due: none

fix: stabilize dashboard e2e interactions
  src/components/CommandPalette.tsx
  src/mocks/handlers.ts
  src/pages/hooks/useDashboardJobOps.test.ts
  src/pages/hooks/useDashboardJobOps.ts
  tests/e2e/playwright/job-search-filtering.spec.ts
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: repair e2e scripts and screenshot capture
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/update-doc-screenshots.mjs
  tests/README.md
  tests/e2e/README.md
  tests/e2e/playwright/screenshots.spec.ts
Due: eslint --fix

test: harden e2e assertions
  docs/plans/tech-debt-tracker.md
  tests/e2e/playwright/application-tracking.spec.ts
  tests/e2e/playwright/job-interactions.spec.ts
  tests/e2e/playwright/keyboard-navigation.spec.ts
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/resume-builder.spec.ts
  tests/e2e/playwright/resume-upload-matching.spec.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: eslint --fix

chore: check test count freshness
  docs/ROADMAP.md
  docs/developer/INTEGRATION_TESTING.md
  docs/developer/TESTING.md
  docs/harness/entropy-control.md
  docs/plans/tech-debt-tracker.md
  scripts/check-harness.mjs
Due: none

chore: clarify rust lint policy
  docs/developer/CONTRIBUTING.md
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  scripts/check-harness.mjs
Due: none

chore: enforce frontend boundaries
  docs/developer/ARCHITECTURE.md
  docs/harness/README.md
  docs/harness/entropy-control.md
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/check-frontend-boundaries.mjs
  scripts/check-harness.mjs
Due: none

chore: add security sensor check
  docs/harness/README.md
  docs/harness/entropy-control.md
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  docs/security/README.md
  package.json
  scripts/check-harness.mjs
  scripts/check-security-sensors.mjs
Due: none

test: harden accessibility assertions
  src/components/automation/ApplicationPreview.test.tsx
  src/pages/SetupWizard.test.tsx
  src/pages/SetupWizard.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: guard test quality
  docs/harness/README.md
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/check-harness.mjs
  scripts/check-test-quality.mjs
Due: none

chore: update rust advisory fixes
  src-tauri/Cargo.lock
Due: none

chore: remove stale security audit
  .markdownlint-cli2.jsonc
  SECURITY_AUDIT.md
Due: none

fix: repair beta feedback workflow
  CHANGELOG.md
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/developer/BETA_FEEDBACK_PLAN.md
  docs/plans/README.md
  docs/plans/completed/beta-feedback-system.md
  src-tauri/src/commands/feedback/mod.rs
  src-tauri/src/commands/feedback/report.rs
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

fix: guard tauri feedback invokes
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/check-harness.mjs
  scripts/check-tauri-invokes.mjs
  src-tauri/coverage/base.css
  src-tauri/coverage/block-navigation.js
  src-tauri/coverage/coverage-final.json
  src-tauri/coverage/favicon.png
  src-tauri/coverage/index.html
  src-tauri/coverage/prettify.css
  src-tauri/coverage/prettify.js
  src-tauri/coverage/sort-arrow-sprite.png
  src-tauri/coverage/sorter.js
  src/services/feedbackService.test.ts
  src/services/feedbackService.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: prune stale docs bloat
  .gitignore
  docs/API_ERROR_HANDLING.md
  docs/ERROR_HANDLING_MIGRATION_GUIDE.md
  docs/ROADMAP.md
  docs/developer/UNDO_REDO_IMPLEMENTATION.md
  docs/plans/README.md
  docs/plans/completed/undo-redo-wiring.md
  docs/plans/tech-debt-tracker.md
  src/components/settings/MIGRATION_GUIDE.md
  tests/README.md
  tests/e2e/TEST_SUMMARY.md
Due: none

fix: unblock scraper rate limiter
  README.md
  docs/features/scrapers.md
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/scrapers/rate_limiter.rs
Due: none

fix: harden external URL handling
  docs/security/URL_VALIDATION.md
  package-lock.json
  package.json
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/commands/deeplinks.rs
  src-tauri/src/core/import/fetcher.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/url_security.rs
  src/components/JobCard.test.tsx
  src/components/JobCard.tsx
  src/pages/Dashboard.tsx
  src/test/setup.ts
  src/utils/urlValidation.test.ts
  src/utils/urlValidation.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: remove repo bloat
  .claude/settings.local.json
  .gitignore
  docs/README.md
  docs/ROADMAP.md
  docs/plans/README.md
  docs/plans/completed/v2.6.0-ux-improvements.md
  docs/plans/v2.6.0-ux-improvements.md
  docs/reports/SECURITY_AUDIT_2026-01-16.md
  docs/reports/TEST-REPORT.md
  docs/reports/scan-results-2026-03-19.txt
  docs/security/KEYRING.md
  docs/security/README.md
Due: none

test: forbid skipped unit tests
  docs/harness/README.md
  docs/plans/tech-debt-tracker.md
  scripts/check-test-quality.mjs
  src/components/automation/ScreeningAnswersForm.test.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: restore feedback debug report coverage
  src-tauri/src/commands/feedback/report.rs
Due: none

fix: preserve theme on error recovery
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: clean sqlite sidecars
  src-tauri/src/core/db/tests.rs
Due: none

chore: streamline e2e defaults
  AGENTS.md
  README.md
  docs/developer/FRONTEND_TESTING.md
  docs/developer/TESTING.md
  docs/harness/verification-matrix.md
  package.json
  playwright.config.ts
  tests/README.md
  tests/e2e/E2E_TEST_ENHANCEMENTS.md
  tests/e2e/README.md
Due: eslint --fix

test: reenable config property checks
  src-tauri/src/core/config/tests.rs
Due: none

test: clean rust warning noise
  src-tauri/src/commands/deeplinks.rs
  src-tauri/src/core/ats/tests.rs
  src-tauri/src/core/ats/tracker.rs
  src-tauri/src/core/bookmarklet/server.rs
  src-tauri/src/core/notify/discord.rs
  src-tauri/src/core/notify/teams.rs
  src-tauri/src/core/scheduler/tests.rs
Due: none

fix: run linkedin cookie read on main thread
  src-tauri/src/commands/linkedin_auth.rs
Due: none

chore: remove duplicate docs screenshots
  .gitignore
  docs/plans/tech-debt-tracker.md
  tests/e2e/docs/images/application-tracking.png
  tests/e2e/docs/images/ats-optimizer.png
  tests/e2e/docs/images/dashboard-light.png
  tests/e2e/docs/images/dashboard.png
  tests/e2e/docs/images/keyboard-shortcuts.png
  tests/e2e/docs/images/market-intelligence.png
  tests/e2e/docs/images/one-click-apply.png
  tests/e2e/docs/images/resume-builder.png
  tests/e2e/docs/images/resume-matcher.png
  tests/e2e/docs/images/salary-ai.png
  tests/e2e/docs/images/settings.png
Due: none

fix: route scrapers through retry helper
  docs/plans/tech-debt-tracker.md
  src-tauri/src/core/scheduler/tests.rs
  src-tauri/src/core/scrapers/builtin.rs
  src-tauri/src/core/scrapers/cache.rs
  src-tauri/src/core/scrapers/dice.rs
  src-tauri/src/core/scrapers/glassdoor.rs
  src-tauri/src/core/scrapers/hn_hiring.rs
  src-tauri/src/core/scrapers/http_client.rs
  src-tauri/src/core/scrapers/jobswithgpt.rs
  src-tauri/src/core/scrapers/lever/mod.rs
  src-tauri/src/core/scrapers/linkedin.rs
  src-tauri/src/core/scrapers/remoteok.rs
  src-tauri/src/core/scrapers/simplyhired.rs
  src-tauri/src/core/scrapers/usajobs.rs
  src-tauri/src/core/scrapers/weworkremotely.rs
  src-tauri/src/core/scrapers/yc_startup.rs
Due: none

test: revive job interaction e2e coverage
  docs/plans/tech-debt-tracker.md
  src/mocks/handlers.ts
  src/pages/DashboardUI/DashboardFiltersBar.tsx
  src/pages/hooks/useDashboardJobOps.ts
  tests/e2e/playwright/job-interactions.spec.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
  tests/e2e/playwright/page-objects/JobDetailPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten job search e2e coverage
  tests/e2e/playwright/job-search-filtering.spec.ts
  tests/e2e/playwright/page-objects/DashboardPage.ts
Due: eslint --fix

fix: align application tracking e2e
  docs/developer/TESTING.md
  docs/features/application-tracking.md
  src/mocks/data.ts
  src/mocks/handlers.ts
  src/pages/Applications.tsx
  tests/e2e/playwright/application-tracking.spec.ts
  tests/e2e/playwright/page-objects/ApplicationsPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

docs: record bloat cleanup policy
  docs/plans/tech-debt-tracker.md
Due: none

test: tighten settings e2e coverage
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  src/components/BookmarkletGenerator.tsx
  src/mocks/handlers.ts
  src/pages/Settings.tsx
  tests/e2e/playwright/page-objects/SettingsPage.ts
  tests/e2e/playwright/settings-save-load.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten resume e2e coverage
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  src/mocks/handlers.ts
  src/pages/Resume.tsx
  tests/e2e/README.md
  tests/e2e/fixtures/README.md
  tests/e2e/playwright/page-objects/ResumePage.ts
  tests/e2e/playwright/resume-upload-matching.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten market e2e coverage
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  src/mocks/handlers.ts
  tests/e2e/README.md
  tests/e2e/playwright/market-intelligence.spec.ts
  tests/e2e/playwright/page-objects/MarketIntelligencePage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten one-click apply coverage
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  src-tauri/migrations/00000000000004_screening_answer_answer_types.sql
  src-tauri/src/commands/automation.rs
  src-tauri/src/core/automation/form_filler.rs
  src-tauri/src/core/automation/mod.rs
  src-tauri/src/core/automation/profile.rs
  src/mocks/handlers.ts
  tests/e2e/README.md
  tests/e2e/playwright/one-click-apply.spec.ts
  tests/e2e/playwright/page-objects/OneClickApplyPage.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten resume builder e2e
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  src/mocks/handlers.ts
  src/pages/ResumeBuilder.tsx
  tests/e2e/README.md
  tests/e2e/playwright/page-objects/ResumeBuilderPage.ts
  tests/e2e/playwright/resume-builder.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

test: tighten keyboard e2e coverage
  docs/developer/TESTING.md
  docs/plans/tech-debt-tracker.md
  docs/user/QUICK_START.md
  src/components/CommandPalette.test.tsx
  src/components/CommandPalette.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/contexts/KeyboardShortcutsContext.test.tsx
  src/contexts/KeyboardShortcutsContext.tsx
  src/pages/Dashboard.tsx
  tests/e2e/README.md
  tests/e2e/playwright/keyboard-navigation.spec.ts
Due: vale --no-exit --glob='*.{ts,tsx}', eslint --fix

chore: add repo bloat sensor
  docs/harness/README.md
  docs/harness/verification-matrix.md
  docs/plans/tech-debt-tracker.md
  package.json
  scripts/check-harness.mjs
  scripts/check-repo-bloat.mjs
Due: none

chore: harden repo bloat sensor
  scripts/check-repo-bloat.mjs
Due: none
